  /*   COLORS   */
#root.root {
  --toolbar-bg:                    var(--frame-bg);
  --nav-btn-active-shadow:         none;
  --frame-el-overlay-clicked-bg:   var(--frame-el-overlay-hover-bg);
  --toolbar-el-overlay-clicked-bg: var(--toolbar-el-overlay-hover-bg);
}


#root[data-frame-color-scheme=dark] {
  --frame-bg:                      hsl(252, 4%, 6%) !important;
  --tabs-activated-bg:             hsl(252, 4%, 20%);
  --ctx-menu-bg:                   hsl(252, 4%, 9%);
  --ctx-menu-separator:            hsl(252, 4%, 15%);
  --ctx-menu-shadow:               0 0 0 1px var(--ff-popup-border,black), 0 0 16px 0 black;
  --popup-bg:                      var(--ctx-menu-bg);
  --notification-bg:               var(--ctx-menu-bg);
}


[data-frame-color-scheme=dark] .Tab[data-active="true"] .fav-icon {fill: #fff}
[data-frame-color-scheme=dark] .popup-container {background-color: rgba(0,0,0,.6)}
[data-frame-color-scheme=dark] .popup {background-color: var(--frame-bg)}
[data-frame-color-scheme=dark] .TextInput::before {background-color: var(--frame-bg)}
[data-frame-color-scheme=dark] * {caret-color: #FF3641}
[data-frame-color-scheme=dark] ::selection {background-color: hsl(240, 38%, 18%); color: hsl(240, 79%, 80%)}
[data-frame-color-scheme=dark] .btn {background-color: #080808}
[data-frame-color-scheme=dark] .Tab,
  [data-frame-color-scheme=dark] .BookmarkNode {--frame-el-overlay-selected-border: hsl(195.7, 100%, 50%)}


#root[data-frame-color-scheme=light] {
  --frame-bg:                      #F9F9FB;
  --tabs-activated-bg:             #E2E2E3;
  --tabs-activated-shadow:         none;
}




  /*   NAVBAR   */
#root.root {
  --nav-btn-width:                 32px;
  --nav-btn-height:                32px;
  --tabs-pinned-width:             32px;
  --tabs-pinned-height:            32px;
}

.NavigationBar .nav-item:not([data-active="true"]) .icon {opacity: .65}

.NavigationBar .nav-item .len {top: -2px}

.NavigationBar .nav-item .audio {
  background-color: transparent !important;
  box-shadow: none}

.Sidebar .tool-btn[data-disabled="true"] {display: none}

.Sidebar .tool-btn > svg {opacity: .5 !important}




  /*   TABS   */
#root[data-pinned-tabs-position="panel"] .PinnedTabsBar,
#root[data-pinned-tabs-position="top"] .PinnedTabsBar {
  padding: 0 0 var(--tabs-margin) !important}

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar {padding: 0 0 calc(var(--tabs-margin) + 1px) !important}

.PinnedTabsBar::after {bottom: var(--tabs-margin)}

#root[data-pinned-tabs-position="top"] .PinnedTabsBar {padding: 0 1px var(--tabs-margin)}

.Tab[data-active="true"] .body {box-shadow: none}

.Tab .title {top: -1px}

.Tab[data-pin="true"] .audio {
  background-color: transparent;
  box-shadow: none}

.Tab .color-layer {
  opacity: 1;
  translate: 25px 14px;
  width: 88%;
  height: 4px;
  filter: blur(6px);
  z-index: 2}

#root.root[data-frame-color-scheme=dark]  .ScrollBox > .top-shadow    {box-shadow: 0  1px 12px 0 #000}
#root.root[data-frame-color-scheme=dark]  .ScrollBox > .bottom-shadow {box-shadow: 0 -1px 12px 0 #000}

#root.root[data-frame-color-scheme=light] .ScrollBox > .top-shadow    {box-shadow: 0  1px 12px 0 #0004}
#root.root[data-frame-color-scheme=light] .ScrollBox > .bottom-shadow {box-shadow: 0 -1px 12px 0 #0004}




  /*   MENU   */
.CtxMenu .box {
  border-radius: 5px;
  min-width: 180px}

.CtxMenu .sub-menu {border-radius: 5px}

.CtxMenu .inline-group {padding: 0 0 2px 0 !important}

.CtxMenu .icon-opt:before,
.CtxMenu .opt:before {
  border-radius: 0;
  opacity: .1}

.CtxMenu .icon-opt:active {opacity: 1}

.CtxMenu .list-group {padding: 1px 0 3px 0}

.CtxMenu .opt {padding: 5px 10px}

.CtxMenu .opt:not([data-inactive="true"]):active {opacity: 1}

.CtxMenu .opt[data-separator=true] {padding: 1px 0}

.CtxMenu .scroll-box {
  padding: 0 0 3px;
  overflow-x: hidden}

.CtxMenu .opt .label.-header {font-weight: 500}
