  /*   COLORS   */
#root.root {
  --toolbar-bg:                    var(--frame-bg);
  --nav-btn-active-shadow:         none;
  --frame-el-overlay-clicked-bg:   var(--frame-el-overlay-hover-bg);
  --toolbar-el-overlay-clicked-bg: var(--toolbar-el-overlay-hover-bg);
}


#root[data-frame-color-scheme=dark] {
  --frame-bg:                      hsl(252, 4%, 6%) !important;
  --toolbar-el-overlay-hover-bg:   hsl(252, 4%, 15%);
  --frame-el-overlay-hover-bg:     hsl(252, 4%, 15%);
  --tabs-activated-bg:             hsl(252, 4%, 15%);
  --tabs-activated-fg:             hsl(240, 100%, 70%);
  --frame-el-overlay-selected-bg:  hsl(252, 4%, 15%);
  --ctx-menu-bg:                   hsl(252, 4%, 9%);
  --ctx-menu-separator:            hsl(252, 4%, 15%);
  --popup-bg:                      hsl(252, 4%, 9%);
  --ctx-menu-shadow:               0 0 0 1px var(--ff-popup-border,black), 0 0 16px 0 black;
  --notification-bg:               var(--ctx-menu-bg);
}

#root[data-frame-color-scheme=dark] .Tab[data-pin="true"] {
  --tabs-activated-bg:             hsl(240, 38%, 32%);
}

[data-frame-color-scheme=dark] .Tab[data-active="true"] .fav-icon {fill: #fff}
[data-frame-color-scheme=dark] .popup-container {background-color: rgba(0,0,0,.6)}
[data-frame-color-scheme=dark] .popup {background-color: var(--frame-bg)}
[data-frame-color-scheme=dark] .TextInput::before {background-color: var(--frame-bg)}
[data-frame-color-scheme=dark] * {caret-color: #FF3641}
[data-frame-color-scheme=dark] ::selection {background-color: hsl(240, 38%, 18%); color: hsl(240, 79%, 80%)}
[data-frame-color-scheme=dark] .btn {background-color: #080808}


#root[data-frame-color-scheme=light] {
  --frame-bg:                      #F9F9FB;
  --tabs-activated-bg:             #E2E2E3;
  --tabs-activated-shadow:         none;
}




  /*   NAVBAR   */
#root.root {
  --nav-btn-width:                 32px;
  --nav-btn-height:                32px;
  --tabs-pinned-width:             32px;
  --tabs-pinned-height:            32px;
}

.NavigationBar.-top {padding: 0 var(--tabs-margin) 0}

.NavigationBar .nav-item:not([data-active="true"]) .icon {opacity: .65}

.NavigationBar .nav-item[data-active="true"] .icon {fill: var(--tabs-activated-fg)}

.NavigationBar .nav-item .len {
  text-shadow: none;
  top: -2px}

.NavigationBar .nav-item .audio {
	background-color: transparent !important;
	box-shadow: none}

.Sidebar .tool-btn[data-disabled="true"] {display: none}

.Sidebar .tool-btn > svg {opacity: .5 !important}




  /*   TABS   */
.Tab,
.BookmarkNode {
  --frame-el-overlay-selected-border: none}

#root[data-pinned-tabs-position="panel"][data-pinned-tabs-list="true"] .PinnedTabsBar {padding: 0 0 3px}

.PinnedTabsBar::after {bottom: 2px}

.Tab[data-active="true"] .body {box-shadow: none}

#root.root[data-frame-color-scheme=dark]  .ScrollBox > .top-shadow    {box-shadow: 0  1px 12px 0 #000}
#root.root[data-frame-color-scheme=dark]  .ScrollBox > .bottom-shadow {box-shadow: 0 -1px 12px 0 #000}

#root.root[data-frame-color-scheme=light] .ScrollBox > .top-shadow    {box-shadow: 0  1px 12px 0 #0004}
#root.root[data-frame-color-scheme=light] .ScrollBox > .bottom-shadow {box-shadow: 0 -1px 12px 0 #0004}




  /*   MENU   */
.CtxMenu .box {
  border-radius: 5px;
  min-width: 180px}

.CtxMenu .sub-menu {border-radius: 5px}

.CtxMenu .inline-group {padding: 0 0 2px 0 !important}

!.CtxMenu .icon-opt {min-width: 33%}

.CtxMenu .icon-opt:before,
.CtxMenu .opt:before {
  border-radius: 0;
  opacity: .1}

.CtxMenu .icon-opt:active {opacity: 1}

.CtxMenu .list-group {padding: 1px 0 3px 0}

.CtxMenu .opt {padding: 5px 10px}

.CtxMenu .opt[data-separator=true] {padding: 1px 0}

.CtxMenu .scroll-box {
  padding: 0 0 3px;
  overflow-x: hidden}

.CtxMenu .opt .label.-header {font-weight: 500}
