#root.root {
  --toolbar-bg:                        transparent;
  --frame-el-overlay-clicked-bg:       var(--frame-el-overlay-hover-bg);
  --toolbar-el-overlay-clicked-bg:     var(--toolbar-el-overlay-hover-bg);
}

.NavigationBar .nav-item:not([data-active="true"]) .icon {opacity: .6}

.NavigationBar .nav-item .len {top: -2px}

.Sidebar .tool-btn > svg {opacity: .6 !important}
.Sidebar .tool-btn[data-disabled="true"] > svg {opacity: .3 !important}


.CtxMenu :is(.icon-opt, .opt):not([data-inactive="true"]):active {opacity: 1}


  /*   Colorize title of tabs   */
.Tab .color-layer {display: none}
.Tab[data-colorized]:has([style="--tab-color: #37adff;"]) .title {color: #37adff}
.Tab[data-colorized]:has([style="--tab-color: #00c79a;"]) .title {color: #00c79a}
.Tab[data-colorized]:has([style="--tab-color: #51cd00;"]) .title {color: #51cd00}
.Tab[data-colorized]:has([style="--tab-color: #ffcb00;"]) .title {color: #ffcb00}
.Tab[data-colorized]:has([style="--tab-color: #ff9f00;"]) .title {color: #ff9f00}
.Tab[data-colorized]:has([style="--tab-color: #ff613d;"]) .title {color: #ff613d}
.Tab[data-colorized]:has([style="--tab-color: #ff4bda;"]) .title {color: #ff4bda}
.Tab[data-colorized]:has([style="--tab-color: #af51f5;"]) .title {color: #af51f5}
