  /*   COLORS   */
#root.root {
  --toolbar-bg:                    var(--frame-bg);
  --frame-el-overlay-clicked-bg:   var(--frame-el-overlay-hover-bg);
  --toolbar-el-overlay-clicked-bg: var(--toolbar-el-overlay-hover-bg);
}


#root[data-frame-color-scheme=dark] {

  --accent-color:                      175;
  --accent-lightness:                  15%;
  --accent-text-lightness:             45%;


  --frame-bg:                          hsl(252, 4%, 6%) !important;
  --ctx-menu-bg:                       hsl(252, 4%, 9%);
  --ctx-menu-separator:                hsl(252, 4%, 15%);
  --ctx-menu-shadow:                   0 0 0 1px var(--ff-popup-border,black), 0 0 16px 0 black;
  --popup-bg:                          var(--ctx-menu-bg);
  --notification-bg:                   var(--ctx-menu-bg);


  .Tab[data-active="true"] .fav-icon   {fill: #fff}
  .popup-container                     {background-color: rgba(0,0,0,.6)}
  .popup,                                         
    .TextInput::before                 {background-color: var(--frame-bg)}
  *                                    {caret-color: #FF3641}
  ::selection                          {background-color: hsl(calc(var(--accent-color) - 0), 82%, var(--accent-lightness)); 
                                                   color: hsl(calc(var(--accent-color) - 0), 82%, 85%)}
  .btn                                 {background-color: #080808}
  .Tab,
    .BookmarkNode                      {--frame-el-overlay-selected-border: hsl(195.7, 100%, 50%)}
}


  /*   Active tab color   */

#root[data-frame-color-scheme="dark"] :is(.Tab[data-active="true"][data-edit="false"] .body, .NavigationBar .nav-item[data-active="true"]) {
  background: linear-gradient(145deg, transparent, hsl(var(--accent-color), 82%, var(--accent-lightness)), hsl(var(--accent-color), 79%, calc(var(--accent-lightness) + 10%)), transparent)}

#root[data-frame-color-scheme=light] :is(.Tab[data-active="true"][data-edit="false"] .body, .NavigationBar .nav-item[data-active="true"]) {
  background: linear-gradient(145deg, #9498e7, #d29ce6)}


#root[data-frame-color-scheme="dark"] .Tab[data-colorized="true"] {
	--tabs-activated-shadow: 0 1px 4px -1px rgba(0,0,0,0.282), inset 0 0 0 1px var(--s-act-el-border, rgba(255,255,255,0.031))}

#root[data-act-el-color-scheme="light"], #root[data-frame-color-scheme="light"] .Tab[data-colorized="true"]  {
  --tabs-activated-shadow: inset 0 0 0 1px var(--s-act-el-border, rgba(0,0,0,0.1))}


#root[data-frame-color-scheme=light] {
  --frame-bg:                      #F9F9FB;
}


  /*   NAVBAR   */
#root.root {
  --nav-btn-width:                 32px;
  --nav-btn-height:                32px;
  --tabs-pinned-width:             32px;
  --tabs-pinned-height:            32px;
}

.NavigationBar .nav-item:not([data-active="true"]) .icon {opacity: .65}

.NavigationBar .nav-item .len {top: -2px}

.NavigationBar .nav-item .audio {
  background-color: transparent !important;
  box-shadow: none}

.Sidebar .tool-btn[data-disabled="true"] {display: none}

.Sidebar .tool-btn > svg {opacity: .5 !important}




  /*   TABS   */
#root[data-pinned-tabs-position="panel"] .PinnedTabsBar,
#root[data-pinned-tabs-position="top"] .PinnedTabsBar {
  padding: 0 0 var(--tabs-margin) !important}

.PinnedTabsBar::after {bottom: var(--tabs-margin)}

#root[data-pinned-tabs-position="top"] .PinnedTabsBar {padding: 0 1px var(--tabs-margin)}


    /*   Scrolling pinned tabs   */
#root:is([data-pinned-tabs-position="top"], [data-pinned-tabs-position="panel"])[data-pinned-tabs-list="true"] .PinnedTabsBar:has(:nth-child(9)) { 
  height: calc(var(--tabs-height) * 11.3);
  overflow-y: auto;
  margin-bottom: 2px !important;
  padding: 0 !important}

#root:is([data-pinned-tabs-position="top"], [data-pinned-tabs-position="panel"])[data-pinned-tabs-list="true"] .PinnedTabsBar::after {
  position: sticky;
  bottom: 0 !important}



  /*   Colorize title of tabs   */
.Tab .color-layer {display: none}

.Tab[data-colorized]:has([style="--tab-color: #37adff;"]) .title {color: #37adff}
.Tab[data-colorized]:has([style="--tab-color: #00c79a;"]) .title {color: #00c79a}
.Tab[data-colorized]:has([style="--tab-color: #51cd00;"]) .title {color: #51cd00}
.Tab[data-colorized]:has([style="--tab-color: #ffcb00;"]) .title {color: #ffcb00}
.Tab[data-colorized]:has([style="--tab-color: #ff9f00;"]) .title {color: #ff9f00}
.Tab[data-colorized]:has([style="--tab-color: #ff613d;"]) .title {color: #ff613d}
.Tab[data-colorized]:has([style="--tab-color: #ff4bda;"]) .title {color: #ff4bda}
.Tab[data-colorized]:has([style="--tab-color: #af51f5;"]) .title {color: #af51f5}



.Tab .title {top: -1px}

.Tab[data-pin="true"] .audio {
  background-color: transparent;
  box-shadow: none}

.Notifications + .main-box .central-box {margin-top: 0}
.ScrollBox > .scroll-container > .scrollable {margin-top: calc(var(--general-margin) - var(--s-darker-border-width, 0px))}

[data-frame-color-scheme=dark]  .ScrollBox > .top-shadow    {box-shadow: 0  1px 12px 0 #000}
[data-frame-color-scheme=dark]  .ScrollBox > .bottom-shadow {box-shadow: 0 -1px 12px 0 #000}
[data-frame-color-scheme=light] .ScrollBox > .top-shadow    {box-shadow: 0  1px 12px 0 #0004}
[data-frame-color-scheme=light] .ScrollBox > .bottom-shadow {box-shadow: 0 -1px 12px 0 #0004}




  /*   MENU   */
.CtxMenu .box {
  border-radius: 5px;
  min-width: 180px}

.CtxMenu .sub-menu {border-radius: 5px}

.CtxMenu .inline-group {padding: 0 0 2px 0 !important}

.CtxMenu .icon-opt:before,
.CtxMenu .opt:before {
  border-radius: 0;
  opacity: .1}

.CtxMenu .icon-opt:active {opacity: 1}

.CtxMenu .list-group {padding: 1px 0 3px 0}

.CtxMenu .opt {padding: 5px 10px}

.CtxMenu .opt:not([data-inactive="true"]):active {opacity: 1}

.CtxMenu .opt[data-separator=true] {padding: 1px 0}

.CtxMenu .scroll-box {
  padding: 0 0 3px;
  overflow-x: hidden}

.CtxMenu .opt .label.-header {font-weight: 500}
