@-moz-document domain("youtube.com") {
    /* Side menu */
/* Explore */
ytd-guide-section-renderer.style-scope:nth-child(1) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(2),
ytd-mini-guide-entry-renderer.style-scope:nth-child(2),
/* Shorts */
ytd-guide-section-renderer.style-scope:nth-child(1) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(3),
ytd-mini-guide-entry-renderer.style-scope:nth-child(3),
/* Library */
#header > .ytd-guide-collapsible-section-entry-renderer.style-scope,
ytd-mini-guide-entry-renderer.style-scope:nth-child(5),
/* More from youtube */
ytd-guide-section-renderer.style-scope:nth-child(3),
ytd-guide-section-renderer.style-scope:nth-child(4),
ytd-guide-section-renderer.style-scope:nth-child(5),
#guide-renderer > div:nth-child(2)
    {display:none}


/* Color scheme */
html:not(.style-scope)[dark] {
    --yt-spec-brand-background-primary: #181818f8 !important; 
    --yt-spec-brand-background-solid:   #1a1a1a !important;
    --yt-spec-general-background-a:     #151515 !important;
    --yt-spec-text-primary:             #ddd;
    --yt-spec-icon-active-other:        #ddd;
    --yt-spec-static-brand-white:       #ddd;
    --yt-spec-icon-inactive:            #ddd;
    --yt-spec-brand-icon-inactive:      #ddd;
}

/* Search menu */
[dark] .sbsb_a, [dark] .sbfl_b {background: #111}
[dark] .sbdd_b {border: 1px solid #1a1a1a}
[dark] .sbsb_d {background: #242424}
[dark] .gsfs {color: #ddd}


[dark] ytd-guide-entry-renderer[active],
[dark] tp-yt-paper-listbox.yt-dropdown-menu .iron-selected.yt-dropdown-menu,
[dark] tp-yt-paper-item:hover {
	background-color: #242424}

[dark] tp-yt-paper-item[focused][pressed],
[dark] tp-yt-paper-item:focus {
    background-color: #0a0a0a}

[dark] ytd-playlist-video-renderer.style-scope:hover {
    background-color: #1e1e1e}


/* Watching indicator */
#progress.ytd-thumbnail-overlay-resume-playback-renderer {background-color: #f00d}
ytd-thumbnail-overlay-resume-playback-renderer {background-color: transparent}


/* Feed */
#contents.ytd-shelf-renderer {margin-top: 16px}
ytd-expanded-shelf-contents-renderer {margin-bottom: 16px}


/* Borders */
#contentContainer,
ytd-multi-page-menu-renderer,
.ytd-playlist-sidebar-renderer,
.ytd-feed-filter-chip-bar-renderer,
.ytd-sub-feed-selector-renderer
    {--yt-spec-10-percent-layer: 0}

#content.ytd-playlist-video-renderer {border-bottom: 1px solid transparent}


/* Player */
.ytp-pause-overlay,
.ytp-gradient-bottom,
.branding-img-container,
.ytp-cards-button,
.ytp-cards-teaser,
.ytp-paid-content-overlay,
.ytp-ce-element,
.tp-yt-app-drawer::after
    {display:none !important}


.ytd-playlist-thumbnail,
.ytd-thumbnail
	{border-radius: 0 !important}
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
/* Feed */
.grid-subheader.style-scope.ytd-shelf-renderer {display:none}
ytd-section-list-renderer {--yt-spec-10-percent-layer: 0}
}

@-moz-document url-prefix("https://www.youtube.com/watch") {
:root {scrollbar-width: none}


/* Header */
#container.ytd-masthead {height: 20px; transition: 200ms}
#masthead {opacity: 0; transition: 200ms}

#container:hover.ytd-masthead {height: 56px}
#masthead:hover {opacity: 1}


/* Player */
#page-manager {--ytd-masthead-height: 0}

#player-theater-container {max-height: 100% !important}

ytd-topbar-logo-renderer,
.ytp-volume-area,
.ytp-fullscreen-button,
.ytp-size-button,
.ytp-miniplayer-button,
.tp-yt-app-drawer::after,
ytd-toggle-button-renderer.style-scope:nth-child(2) > a:nth-child(1) > yt-formatted-string:nth-child(2)
    {display:none !important}

.ytp-chrome-top, .ytp-chrome-bottom {text-shadow: none}

ytd-macro-markers-list-item-renderer[rounded] #thumbnail.ytd-macro-markers-list-item-renderer {border-radius: 1px}
}
