@-moz-document domain("youtube.com") {
    /* Side menu */
/* Shorts */
ytd-guide-section-renderer.style-scope:nth-child(1) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(2),
ytd-mini-guide-entry-renderer.style-scope:nth-child(2),
/* Library */
#header > .ytd-guide-collapsible-section-entry-renderer.style-scope,
ytd-mini-guide-entry-renderer.style-scope:nth-child(5),
/* More from youtube */
ytd-guide-section-renderer.style-scope:nth-child(3),
ytd-guide-section-renderer.style-scope:nth-child(4),
ytd-guide-section-renderer.style-scope:nth-child(5),
#guide-renderer > div:nth-child(2)
    {display:none}


/* Color scheme */
html:not(.style-scope)[dark] {
    --yt-spec-badge-chip-background:        rgba(255, 255, 255, 0.07);
    --yt-spec-button-chip-background-hover: rgba(255, 255, 255, 0.09);
    --yt-spec-text-primary:                 #ddd;
    --yt-spec-icon-active-other:            #ddd;
    --yt-spec-static-brand-white:           #ddd;
    --yt-spec-icon-inactive:                #ddd;
    --yt-spec-brand-icon-inactive:          #ddd;
}


/* Search menu */
[dark] .sbsb_a,
[dark] .sbfl_b,
[dark] .sbdd_b {
    background-color: var(--yt-spec-brand-background-primary)}

[dark] .sbsb_d {background-color: var(--yt-spec-badge-chip-background)} /*hover*/
[dark] .gsfs   {color: var(--yt-spec-text-primary)}
[dark] .sbdd_b {border: 0}

[dark] ytd-guide-entry-renderer[active],
[dark] tp-yt-paper-listbox.yt-dropdown-menu .iron-selected.yt-dropdown-menu {
    background-color: var(--yt-spec-badge-chip-background)}


/* Watching indicator */
#progress.ytd-thumbnail-overlay-resume-playback-renderer {background-color: #f00d}
ytd-thumbnail-overlay-resume-playback-renderer {background-color: transparent}


/* Feed */
#contents.ytd-shelf-renderer {margin-top: 16px}
ytd-expanded-shelf-contents-renderer {margin-bottom: 16px}


/* Borders */
#contentContainer,
ytd-multi-page-menu-renderer,
.ytd-playlist-sidebar-renderer,
.ytd-feed-filter-chip-bar-renderer,
.ytd-sub-feed-selector-renderer
    {--yt-spec-10-percent-layer: 0}

#content.ytd-playlist-video-renderer {border-bottom: 1px solid transparent}


/* Player */
.ytp-pause-overlay,
.ytp-gradient-bottom,
.branding-img-container,
.ytp-cards-button,
.ytp-cards-teaser,
.ytp-paid-content-overlay,
.ytp-ce-element,
.tp-yt-app-drawer::after
    {display:none !important}


.ytd-playlist-thumbnail,
.ytd-thumbnail
	{border-radius: 0 !important}

ytd-alert-with-button-renderer.style-scope,
.yt-alert-renderer.style-scope
	{border-radius: 8px !important}
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
/* Feed */
ytd-item-section-renderer.style-scope:nth-child(1) > div:nth-child(3) > ytd-shelf-renderer:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1),
ytd-item-section-renderer.style-scope:not(:nth-child(1)) > div:nth-child(3) > ytd-shelf-renderer:nth-child(1) > div:nth-child(1) > div:nth-child(1)
    {display:none}

.grid-subheader.ytd-shelf-renderer {margin-top: 0}

ytd-section-list-renderer {--yt-spec-10-percent-layer: 0}
}

@-moz-document url-prefix("https://www.youtube.com/results") {
/* Recommendations in search results */
ytd-shelf-renderer.ytd-item-section-renderer.style-scope {display:none}
}

@-moz-document url-prefix("https://www.youtube.com/watch") {
:root {scrollbar-width: none}


/* Header */
#container.ytd-masthead {height: 20px; transition: 200ms}
#masthead {opacity: 0; transition: 200ms}

#container:hover.ytd-masthead {height: 56px}
#masthead:hover {opacity: 1}


/* Player */
#page-manager {--ytd-masthead-height: 0}

#player-theater-container {max-height: 100% !important}

ytd-topbar-logo-renderer,
.ytp-volume-area,
.ytp-fullscreen-button,
.ytp-size-button,
.ytp-miniplayer-button,
.tp-yt-app-drawer::after,
ytd-toggle-button-renderer.style-scope:nth-child(2) > a:nth-child(1) > yt-formatted-string:nth-child(2)
    {display:none !important}

.ytp-chrome-top, .ytp-chrome-bottom {text-shadow: none}

ytd-macro-markers-list-item-renderer[rounded] #thumbnail.ytd-macro-markers-list-item-renderer {border-radius: 1px}
}
