@-moz-document domain("youtube.com") {
    /* Side menu */
/* Shorts */
ytd-guide-section-renderer.style-scope:nth-child(1) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(2),
/* Library */
#header > .ytd-guide-collapsible-section-entry-renderer.style-scope,
/* More from youtube */
ytd-guide-section-renderer.style-scope:nth-child(3),
ytd-guide-section-renderer.style-scope:nth-child(4),
ytd-guide-section-renderer.style-scope:nth-child(5),
#footer
    {display:none}


ytd-guide-renderer.ytd-app {width: 256px}
ytd-guide-entry-renderer {margin-bottom: 1px}


/* Color scheme */
html[dark], [dark] {
    --yt-spec-badge-chip-background:            rgba(255, 255, 255, 0.07);
    --yt-spec-button-chip-background-hover:     rgba(255, 255, 255, 0.09);
    --ytd-searchbox-legacy-border-color:        var(--yt-spec-badge-chip-background);
    --yt-spec-10-percent-layer:                 var(--yt-spec-badge-chip-background);
    --yt-spec-text-primary:                     #fffd !important;
    --yt-spec-icon-active-other:                #ddd;
    --yt-spec-static-brand-white:               #ddd;
    --yt-spec-icon-inactive:                    #ddd;
    --yt-spec-brand-icon-inactive:              #ddd;
    --yt-spec-general-background-a:             none;
    --ytd-searchbox-background:                 none;
    --ytd-searchbox-legacy-button-border-color: none;
}

html[dark] .header.ytd-playlist-panel-renderer,
html[dark] #header.ytd-engagement-panel-title-header-renderer
    {background-color: var(--yt-spec-badge-chip-background)}


/* Watching indicator */
#progress.ytd-thumbnail-overlay-resume-playback-renderer {background-color: #f00d}
ytd-thumbnail-overlay-resume-playback-renderer {background-color: transparent}


/* Feed */
#contents.ytd-shelf-renderer {margin-top: 16px}
ytd-expanded-shelf-contents-renderer {margin-bottom: 16px}


/* Borders */
#contentContainer,
ytd-multi-page-menu-renderer,
.ytd-playlist-sidebar-renderer,
.ytd-feed-filter-chip-bar-renderer,
.ytd-sub-feed-selector-renderer
    {--yt-spec-10-percent-layer: 0}

#content.ytd-playlist-video-renderer,
.ytd-section-list-renderer,
ytd-c4-tabbed-header-renderer[modern-tabs] #tabs-divider.ytd-c4-tabbed-header-renderer
    {border-bottom: none !important}


/* Player */
.ytp-pause-overlay,
.branding-img-container,
.ytp-cards-button,
.ytp-cards-teaser,
.ytp-paid-content-overlay,
.ytp-ce-element,
.tp-yt-app-drawer::after
    {display:none !important}


ytd-thumbnail a.ytd-thumbnail,
ytd-thumbnail::before,
.ytp-videowall-still-round-large .ytp-videowall-still-image
    {border-radius: 0 !important}


ytd-alert-with-button-renderer.style-scope,
.yt-alert-renderer.style-scope
    {border-radius: 8px !important}


/* Playlist menu */
ytd-add-to-playlist-renderer[dialog] #playlists.ytd-add-to-playlist-renderer {max-height: 800px}


ytd-c4-tabbed-header-renderer.style-scope[has-channel-art] div.tp-yt-app-header-layout:nth-child(2) {padding-top: 500px !important}
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
/* Feed */
ytd-item-section-renderer.style-scope > div > ytd-shelf-renderer > div > div > div > h2,
ytd-item-section-renderer.style-scope:not(:nth-child(1)) > div > ytd-shelf-renderer > div > div:nth-child(1),
ytd-item-section-renderer.style-scope:nth-child(5) > div:nth-child(3)
    {display:none}

.grid-subheader.ytd-shelf-renderer {margin-top: 9px}

ytd-section-list-renderer {--yt-spec-10-percent-layer: 0}
}

@-moz-document url-prefix("https://www.youtube.com/results") {
/* Recommendations in search results */
ytd-shelf-renderer.ytd-item-section-renderer.style-scope {display:none}
}

@-moz-document url-prefix("https://www.youtube.com/playlist") {
.metadata-stats.ytd-playlist-byline-renderer {display: ruby}
}

@-moz-document url-prefix("https://www.youtube.com/watch"), url-prefix("https://www.youtube.com/clip") {
:root {scrollbar-width: none}


/* Header */
#container.ytd-masthead {transition: 200ms}
#masthead[theater] {opacity: 0; transition: 200ms}

#masthead[theater]:hover {opacity: 1}


/* Player */
ytd-watch-flexy.style-scope[theater]:not([fullscreen]) #full-bleed-container {margin-top: -56px}

#full-bleed-container {max-height: 100% !important}

ytd-topbar-logo-renderer,
.ytp-fullscreen-button,
.ytp-miniplayer-button,
.tp-yt-app-drawer::after,
ytd-toggle-button-renderer.style-scope:nth-child(2) > a:nth-child(1) > yt-formatted-string:nth-child(2)
    {display:none !important}

ytd-macro-markers-list-item-renderer[rounded] #thumbnail.ytd-macro-markers-list-item-renderer {border-radius: 1px}

div.ytp-time-display {margin: -2px 0 0 0}
button.ytp-time-display {margin: -2px 18px 0 0}


/* Savefrom */
#savefrom__yt_btn .sf-quick-dl-btn,
#savefrom__yt_btn > button:nth-child(4) {
    background-color: var(--yt-spec-badge-chip-background) !important;
    border: none !important;
    border-radius: 30px !important;
    height: 36px !important;
    width: 36px}

#savefrom__yt_btn:before {
    content: "💾";
    position: absolute}

#savefrom__yt_btn {margin-left: 18px !important}

.sf-quick-dl-btn,
#savefrom__yt_btn > button:nth-child(4) > span:nth-child(1),
.sf-televzr-popup-container,
#savefrom__yt_btn > button:nth-child(4) > i,
._6BnMg--item--anchor
    {display:none !important}

#sf-popupMenu, .A50sa--hidden--viewer {background-color: #ddd}

#sf-popupMenu a:hover {background-color: #333 !important}


ytd-menu-renderer.ytd-watch-metadata > div:nth-child(2) > yt-button-view-model > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(2),
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > yt-button-view-model:nth-child(3) > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(2),
button.ytd-menu-renderer > div:nth-child(2)
    {display:none !important}

ytd-menu-renderer.ytd-watch-metadata > div:nth-child(2) > yt-button-view-model > button-view-model:nth-child(1) > button:nth-child(1) > div,
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > yt-button-view-model:nth-child(3) > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(1),
button.ytd-menu-renderer > div:nth-child(2) {
    margin-right: -10px;
    margin-left: -10px}


.ytd-watch-flexy {--ytd-watch-flexy-panel-max-height: 917px}


.ytp-probably-keyboard-focus :focus {box-shadow: none !important}

}
