@-moz-document domain("youtube.com") {
/* Clearing the side menu */
ytd-guide-section-renderer.style-scope:nth-child(3),
ytd-guide-section-renderer.style-scope:nth-child(4),
#guide-renderer > div:nth-child(2)
	{display:none !important}

#contentContainer * {border:0 !important}


/* Ð¡olor sheme */
[dark] * {--yt-spec-brand-background-primary: #1a1a1af8 !important; 
	--yt-spec-brand-background-solid: #1a1a1a !important;
	--yt-spec-general-background-a:#181818 !important}

  /* Search menu */
[dark] .sbsb_a, [dark] .sbfl_b {background: #111}
[dark] .sbdd_b {border: 1px solid #1a1a1a}
[dark] .sbsb_d {background: #333 !important}
[dark] .gsfs {color: #ddd}
}

@-moz-document url-prefix("https://www.youtube.com/watch") {
/* Full screen player */
* {--ytd-masthead-height: 0}

ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy 
	{max-height: 100% !important}


:root {scrollbar-width: none}


/* Auto hide header */
#container.ytd-masthead {height: 20px; transition:all .2s ease !important}
#masthead {opacity: 0; transition:all .2s ease}

#container:hover.ytd-masthead {height: 56px}
#masthead:hover {opacity: 1 !important}


/* Clearing the player */
ytd-topbar-logo-renderer,
.ytp-fullscreen-button,
.ytp-size-button,
.ytp-miniplayer-button,
.ytp-gradient-bottom,
.ytp-cards-button,
.ytp-cards-teaser,
.ytp-volume-area,
.branding-img-container
	{display:none !important}

.ytp-chrome-top, .ytp-chrome-bottom {text-shadow: none}
}