/*   Navbar   */
#TabsToolbar,
#sidebar-button,
#vertical-spacer,
.titlebar-buttonbox-container
  {display: none}

#navigator-toolbox {
  z-index: 4 !important;
  border: none !important}

#nav-bar {border: none !important}

                              [sizemode=maximized] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -39px; top: -39px}
@media(-moz-platform: linux) {[sizemode=maximized] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -35px; top: -35px}}
                                 [sizemode=normal] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -31px; top: -31px}
                                 [sizemode=normal] #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #nav-bar-customization-target * {opacity: 0}
                                                   #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) {background-image: none;  background-color: black !important}

#nav-bar:is(:hover, :focus-within, :has(*[open]), :has(*[dragstart]), [customizing]) {
  box-shadow: 0 1px var(--chrome-content-separator-color), 0 2px 14px rgba(0, 0, 0, 0.13) !important;
  background: inherit;
  background-color: var(--toolbar-bgcolor) !important;
  opacity: 1 !important;
  top: auto !important}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-1 {height: 100%}
toolbar .toolbaritem-combined-buttons {padding: 0 !important; margin: 0 !important}

.webextension-browser-action {min-height: 40px}

#notifications-toolbar {z-index: -1}
#notifications-toolbar:has(notification-message[value="pending-crash-reports"]) {display: none}




/*   Sidebar   */
#sidebar-main{
  display: block;
  position: fixed;
  height: 100%;
  width: 400px !important;
  left: -395px;
  background-color: var(--toolbar-bgcolor);
  z-index: 3;
  opacity: 0;
  --tab-block-margin: 0}

#sidebar-main:hover, #sidebar-main:has(#tabContextMenu[hasbeenopened]), #tabContextMenu[hasbeenopened] #sidebar-main{
  left: 0;
  opacity: 1}

#main-window:not([titlepreface*="Sidebery"]) #sidebar-main[sidebar-panel-open] {
  left: 0 !important;
  opacity: 1 !important}

.sidebar-panel {
  height: 100% !important;
  width: 434px !important;
  margin-left: 400px !important;
  background-color: var(--toolbar-bgcolor)}

#sidebar {
  background-color: var(--toolbar-bgcolor) !important;
  border-radius: 0 !important;
  box-shadow: none;
  outline: none}

#sidebar-box {
	width: 840px !important;
  padding-right: 0 !important}

#sidebar-launcher-splitter,
#sidebar-splitter 
 {display: none !important}



#main-window[titlepreface*="Sidebery"] :is(#vertical-tabs, #tabContextMenu) {display: none !important}

#main-window[titlepreface*="Sidebery"] #sidebar-box {
  position: fixed !important;
  height: 100%;
  width: 430px !important;
  left: -425px;
  padding: 0 !important;
  z-index: 3 !important;
  opacity: 0}

#main-window[titlepreface*="Sidebery"][sizemode=normal] #sidebar-box {padding: 0 0 8px 0 !important}

#main-window[titlepreface*="Sidebery"] #sidebar-box:hover{
  left: 0;
  opacity: 1}



#tabbrowser-tabs[orient="vertical"] {&[overflow]::after {display: none}}

sidebar-panel-header,
#sidebar-panel-header,
#vertical-tabs-newtab-button > label,
.button-background > label:nth-child(2),
moz-button.expanded-button[view="_b9db16a4-6edc-47ec-a1f4-b86292ed211d_-sidebar-action"] {
  display: none !important}

.button-background {& img, &[type~="icon"]:not(.labelled) {
  margin: auto;
  box-sizing: content-box !important}}

.actions-list {& > moz-button:not(.tools-overflow) {&:first-of-type {--button-outer-padding-block-start: inherit !important}}}

.tools-and-extensions {
  flex-direction: inherit !important;
  justify-content: space-around !important}

#vertical-pinned-tabs-container {& .tab-background {.tabbrowser-tab:not(:hover) > .tab-stack > &:not([selected], [multiselected]) {
  background-color: color-mix(in srgb, currentColor 0%, transparent) !important}}}

@media (prefers-color-scheme:dark) {
.tab-background[selected] {
  background: linear-gradient(145deg, black, hsl(calc(var(--accent-color) - 10), 82%, var(--accent-lightness)), hsl(var(--accent-color), 82%, calc(var(--accent-lightness))), black);
  --tab-selected-outline-color: #fff2}

.tab-label {font-size: 15px}

.tabbrowser-tab[pending] :is(.tab-icon-image, .tab-label) {opacity: .6 !important}

#vertical-tabs-newtab-button:hover {background-color: var(--button-background-color-hover) !important}

#vertical-pinned-tabs-splitter {
  margin-top: -4px;
  margin-bottom: -8px}
  
  



/*   Bookmarks   */
#PersonalToolbar:not([customizing]),
#PlacesToolbarItems .bookmark-item[type="menu"] .toolbarbutton-icon,
#PlacesToolbarItems .bookmark-item[scheme="https"] .toolbarbutton-text,
.bookmarks-actions-menuseparator,
.openintabs-menuitem
  {display:none !important}

#PlacesToolbarItems toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding-inline: var(--toolbarbutton-outer-padding) !important;
  border-radius: 0 !important}

#PlacesToolbarItems toolbarbutton.bookmark-item:is(:hover, [open]) {background-color: transparent !important}

#PlacesToolbarItems > toolbarbutton.bookmark-item > label {
  padding: calc(var(--toolbarbutton-inner-padding) / 1.6) !important;
  border-radius: var(--toolbarbutton-border-radius)}

#PlacesToolbarItems > toolbarbutton.bookmark-item > .toolbarbutton-icon {
  padding: 8px;
  margin: 0 !important;
  border-radius: var(--urlbar-icon-border-radius);
  width: 32px !important;
  height: 32px !important}

#PlacesToolbarItems > toolbarbutton.bookmark-item:is(:hover, [open]) > :is(image, label) {background-color: color-mix(in srgb, currentColor 8%, transparent)}

#PlacesToolbarItems > toolbarbutton.bookmark-item[dragover] > label {color: SelectedItem}

#PlacesToolbarItems .toolbarbutton-text {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 1px !important}

toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -9px -3px !important}




/*   Menu   */
#appMenu-new-tab-button2,
#appMenu-fullscreen-button2,
#appmenu-developer-tools
  {display:none !important}

#context-navigation > .menuitem-iconic[_moz-menuactive] > .menu-iconic-left > .menu-iconic-icon,
menuitem[_moz-menuactive][disabled] {
  background-color: transparent !important}


menupopup[needsgutter] menu:not([icon], .menu-iconic),
menupopup[needsgutter] menuitem:not([checked], [icon], .menuitem-iconic, [type="radio"]) {
  padding-inline-start: 1em  !important}

#contentAreaContextMenu,
menulist > menupopup
  {max-width: 27em !important}

#appMenu-popup {
  --text-color-disabled: color-mix(in srgb, currentColor 40%, transparent);
  --text-color-deemphasized: color-mix(in srgb, currentColor 40%, transparent);
  --panel-separator-zap-gradient: none;
}

/*   Repaints the bookmark menu and context menus to the main menu color   */
#main-window :not(#ContentSelectDropdown) > menupopup:not(#context-navigation[hidden]),
#textbox-contextmenu,
.menupopup-arrowscrollbox {    
  --panel-background: var(--arrowpanel-background) !important;
  --panel-color: var(--arrowpanel-color) !important;
  --menu-color:  var(--arrowpanel-color) !important;
  --panel-border-color: var(--arrowpanel-border-color) !important;
}

:is(menu, menuitem)[_moz-menuactive]:not([disabled="true"]):not([customoptionstyling]) {
  background-color: /*var(--panel-item-hover-bgcolor)*/ color-mix(in srgb, currentColor 6%, transparent) !important;
  color: inherit !important}

#context-sep-navigation {margin: auto 1em !important}

@media(-moz-platform: linux) {
  menuseparator {-moz-default-appearance: none !important}

  menuitem,
  menu {
    appearance: none !important;
    padding: 0 6px !important}
}




/*   Unified extensions menu   */
#unified-extensions-view .panel-header,
#unified-extensions-view toolbarseparator:first-of-type,
.unified-extensions-item-menu-button.subviewbutton,
.unified-extensions-item-message-deck
  {display:none !important} 

#unified-extensions-view {padding-block: var(--panel-subview-body-padding)  !important}

.unified-extensions-item-icon,
#unified-extensions-panel .unified-extensions-item .webextension-browser-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 16px !important;
  width: 16px !important}




/*   Urlbar   */
#nav-bar:not([customizing]) #urlbar-container {
  --urlbar-container-height: 40px !important;
  margin-inline: 20px !important}

#urlbar[breakout] {min-height: 40px !important}

#urlbar-background:not(#urlbar[breakout][breakout-extend][open] > #urlbar-background) {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
  outline: none !important}

.urlbar-go-button,
.urlbarView-row[label="Firefox Suggest"]::before,
.urlbarView-row:not([type="switchtab"]) .urlbarView-action,
.urlbarView-row[type="search"] .urlbarView-title-,
.urlbarView-row:is([type="search"], [type="autofill_origin"]) .urlbarView-title-separator,
.search-one-offs > hbox,
#picture-in-picture-button
  {display:none !important}


.urlbarView-row[label="Firefox Suggest"] {margin-block-start: 0 !important}

.urlbarView-userContext {border-top: 2px solid var(--identity-tab-color) !important}

#urlbar > .urlbar-input-container {padding-block: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2 + var(--urlbar-container-padding)) !important}

#editBMPanel_folderMenuList {max-width: 260px}

#editBMPanel_folderTree * {background-color: var(--panel-background) !important}




/*   Downloads   */
#nav-bar:not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #downloads-button:is([progress="true"], [notification="finish"], [attention="warning"]) {
  position: relative;
  top: 39px}

#downloads-button:is([progress], [notification], [attention="warning"]):not(:hover):not([open]) :is(stack, .toolbarbutton-badge) {
  background-color: var(--toolbar-bgcolor) !important;
  border-radius: 30px !important}




/*   Toolbarbutton-badge   */
.toolbarbutton-badge {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  margin: -11px -8px 0 !important;
  text-align: right !important;
  font-size: 9px !important}

#PanelUI-menu-button > stack > label {margin: -9px -9px 0 !important}

.webextension-browser-action[attention] {background-size: 14px 4px !important}




/*   Dialog   */
.dialogBox {border-radius: 5px !important}

#window-modal-dialog {--chrome-offset: 20px !important}

.printDialogBox {--box-top-px: none !important}




/*   Statuspanel   */
#statuspanel-label {
  background-color: light-dark(#fffc, #000c) !important;
  color: light-dark(#000, #bbb) !important;
  border: 0 !important;
  border-top-right-radius: 5px}

#statuspanel[mirror] #statuspanel-label {
  border-radius: 5px 0 0}




/*   Tooltip   */
@media (prefers-color-scheme:dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext] tooltip,
  #main-window:not([lwthemetextcolor="dark"]) tooltip {
    background-color: #121215;
    border: 1px solid black;
    color: #e8e8e9}
}




/*   Colors   */
* {
  --accent-lightness: 50%;
  --accent-text-lightness: 50%;
  
  --accent-color: 260;
  --interval-of-colors: 5;
  
  
  caret-color:     #FF3641;
  
  ::selection {
    background-color: hsl(calc(var(--accent-color) - 15), 82%, calc(var(--accent-lightness) - 5%)) !important;
    color: hsl(calc(var(--accent-color) - 0), 82%, 85%) !important;}

  
  --button-background-color: color-mix(in srgb, currentColor 6%, transparent) !important;
      --urlbar-box-bgcolor: var(--button-background-color);
      --urlbar-box-focus-bgcolor: var(--button-background-color);
      --panel-banner-item-background-color: var(--button-background-color);
  
  
  --button-background-color-hover: color-mix(in srgb, currentColor 9%, transparent) !important;
      --button-active-bgcolor: var(--button-background-color-hover) !important;
      --urlbar-box-hover-bgcolor: var(--button-background-color-hover);
      --urlbar-box-active-bgcolor: var(--button-background-color-hover);
      --urlbarView-hover-background: var(--button-background-color-hover);
      --urlbarView-highlight-background: var(--button-background-color-hover);
      --panel-banner-item-hover-bgcolor: var(--button-background-color-hover);
  
  
  --panel-item-hover-bgcolor: color-mix(in srgb, currentColor 6%, transparent) !important;
      --panel-item-active-bgcolor: var(--panel-item-hover-bgcolor) !important;
      --autocomplete-popup-hover-background: var(--panel-item-hover-bgcolor) !important;
      --menuitem-hover-background-color: var(--panel-item-hover-bgcolor) !important;
      --button-background-color-ghost-hover: var(--panel-item-hover-bgcolor);
      --button-background-color-ghost-active: var(--panel-item-hover-bgcolor);
  
  
  --toolbarbutton-hover-background: color-mix(in srgb, currentColor 9%, transparent) !important;
      --toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;
  
  
  --panel-separator-color: color-mix(in srgb, currentColor 9%, transparent) !important;
      --menu-border-color: var(--panel-separator-color);
      --urlbarView-separator-color: var(--panel-separator-color);
  --autocomplete-popup-separator-color: color-mix(in srgb, currentColor 9%, transparent) !important;
  
  
  --input-bgcolor: transparent;
  
}


@media (prefers-color-scheme:dark) {
  
  * {
    --accent-lightness: 45%;
    --accent-text-lightness: 60%;
    
    
    --toolbar-color:                  hsl(252, 4%, 95%);
    --toolbar-bgcolor:                hsl(252, 4%, 5%);
    --arrowpanel-background:          hsl(252, 4%, 8%);  --toolbar-field-focus-background-color: var(--arrowpanel-background); --info-bar-background-color: var(--arrowpanel-background) !important;
    --arrowpanel-border-color:        black;
    --chrome-content-separator-color: black;
    --sidebar-border-color:           black;
    --lwt-brighttext-url-color:       #007893 !important;
    --link-color:                     hsl(var(--accent-color), 82%, var(--accent-text-lightness));
    --urlbarView-highlight-color:     hsl(var(--accent-color), 82%, var(--accent-text-lightness));
    .urlbarView-row[selected] .urlbarView-title {color: hsl(0, 99%, 60%)}
    --autocomplete-popup-highlight-background: var(--button-hover-bgcolor) !important;
    --urlbar-popup-url-color:         hsl(225, 99%, 70%) !important;
  }
  
  
  .titleIcon {background-color: transparent !important}

  :root[dialogroot], :host(dialog) {--in-content-page-background: hsl(252, 4%, 8%) !important}
  
  #tab-notification-deck,
  dialog {
    border: 1px solid black;
    --in-content-box-background: transparent !important;
    --in-content-button-background: hsl(252, 4%, 14%) !important;
    --in-content-button-background-hover: hsl(252, 4%, 20%) !important;
    --in-content-button-background-active: hsl(252, 4%, 20%) !important}
  
  window#bookmarkproperties menupopup#textbox-contextmenu.textbox-contextmenu {
    --panel-color: hsl(252, 4%, 95%);
    --panel-background: hsl(252, 4%, 9%) !important;
    --panel-border-color: black !important}
    
  ::selection {
    background-color: hsl(calc(var(--accent-color) - 5), 82%, calc(var(--accent-lightness) - 20%)) !important;
    color: hsl(calc(var(--accent-color) - 0), 82%, 85%) !important;}

}



/*   Highlighting menu items with color   */
menuitem:is([data-l10n-id="text-action-copy"], #context-copylink, #context-copy, #context-saveimage, #context-savevideo):not([disabled="true"]) label
  {color: hsl(var(--accent-color), 82%, var(--accent-text-lightness)) !important}

menuitem:is(#context-searchselect, #_e040cf12-0537-4265-8ce0-ee195356ed60_-menuitem-_ACksGPdpnlwU):not([disabled="true"]) label
  {color: hsl(calc(var(--accent-color) + var(--interval-of-colors) * 5), 82%, var(--accent-text-lightness)) !important}




/*   appMenu separators color   */
#appMenu-fxa-separator                                                 {border-top: 1px solid hsl(calc(var(--accent-color) - calc(var(--interval-of-colors) * 2)), 82%, var(--accent-lightness)) !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(11) {border-top: 1px solid hsl(calc(var(--accent-color) - var(--interval-of-colors)), 82%, var(--accent-lightness)) !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:is(:nth-child(17),:nth-child(18)) {border-top: 1px solid hsl(calc(var(--accent-color) - 0), 82%, var(--accent-lightness)) !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:is(:nth-child(23),:nth-child(24)) {border-top: 1px solid hsl(calc(var(--accent-color) + var(--interval-of-colors)), 82%, var(--accent-lightness)) !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:is(:nth-child(28),:nth-child(29)) {border-top: 1px solid hsl(calc(var(--accent-color) + calc(var(--interval-of-colors) * 2)), 82%, var(--accent-lightness)) !important}
