/*   Colors   */
* {
  !--link-color:                           var(--lwt-toolbar-field-highlight);
  --link-color:                           var(--tab-selected-outline-color);
  !--link-color:                           var(--tab-selected-bgcolor);
  
  #appMenu-mainView > vbox:nth-child(1) > toolbarseparator::before {border-image: linear-gradient(135deg, var(--tab-selected-outline-color), transparent) 1 !important}
  
  --toolbarbutton-hover-background:        color-mix(in srgb, currentColor 12%, transparent) !important; --toolbarbutton-active-background: var(--toolbarbutton-hover-background); --urlbar-box-hover-bgcolor: var(--toolbarbutton-hover-background);
  --button-background-color-hover:         color-mix(in srgb, currentColor 12%, transparent) !important; --button-background-color-active: var(--button-background-color-hover) !important;
  --urlbarView-hover-background:           color-mix(in srgb, currentColor 12%, transparent);
  --panel-separator-color:                 color-mix(in srgb, currentColor 12%, transparent);
  
  --panel-background:                      var(--arrowpanel-background);
  --panel-border-color:                    var(--arrowpanel-border-color);
  --border-color-card:                     var(--arrowpanel-border-color);
  --urlbar-box-active-bgcolor:             var(--urlbar-box-hover-bgcolor);
  --text-color-deemphasized:               var(--text-color-disabled);
}

@media (prefers-color-scheme: dark) and (not (forced-colors)) {:root[dialogroot] {--background-color-canvas: #27262d !important}}

!@media (prefers-color-scheme: dark) {
  * {
    --arrowpanel-border-color:              black;
    --chrome-content-separator-color:       black;
    --sidebar-border-color:                 black;
    }
}

:is(menu, menuitem)[_moz-menuactive]:not([customoptionstyling]) {background-color: var(--button-background-color-ghost-hover) !important}
:is(menu, menuitem):not([disabled="true"]):not([customoptionstyling]) {color: var(--arrowpanel-color) !important}
:is(menu, menuitem)[disabled]:not([customoptionstyling]) {color: color-mix(in srgb, var(--arrowpanel-color) 40%, transparent) !important}

@media (prefers-color-scheme: dark) {toolbarbutton.bookmark-item > image[src^="page-icon:https://github.com/"] {filter: invert(1)}}





/*   Navbar   */
[sidebar-expand-on-hover] #sidebar-button,
.titlebar-buttonbox-container {
  display: none}

#navigator-toolbox {z-index: 4 !important}

#nav-bar {transition: none !important}

[sizemode=maximized][sidebar-expand-on-hover] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -39px; top: -39px}
   [sizemode=normal][sidebar-expand-on-hover] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -31px; top: -31px}
   [sizemode=normal][sidebar-expand-on-hover] #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #nav-bar-customization-target * {opacity: 0}
                    [sidebar-expand-on-hover] #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) {background-color: black !important}

[sidebar-expand-on-hover] #nav-bar:is(:hover, :focus-within, :has(*[open]), :has(*[dragstart]), [customizing]) {
  box-shadow: 0 1px var(--chrome-content-separator-color), 0 2px 14px rgba(0, 0, 0, 0.13);
  background: inherit;
  background-color: inherit !important;
  opacity: 1 !important;
  top: auto !important}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-1 {height: 100%}
toolbar .toolbaritem-combined-buttons {padding: 0 !important; margin: 0 !important}

.webextension-browser-action {min-height: 40px}

#notifications-toolbar {z-index: -1}




/*   Sidebar  */
[titlepreface*="Sidebery"] #sidebar-main,
[titlepreface*="Sidebery"] #sidebar-splitter,
#sidebar-panel-header {
  display: none}

[titlepreface*="Sidebery"] #sidebar-box:not([sidebar-launcher-expanded]) {
  position: fixed !important;
  transform: translateX(calc(-100% + 5px));
  height: 100%;
  padding: 0 !important;
  z-index: 3 !important;
  opacity: 0}

[titlepreface*="Sidebery"][sizemode=normal] #sidebar-box:not([sidebar-launcher-expanded]) {
  top: 9px;
  height: calc(100% - 9px)}

[titlepreface*="Sidebery"] #sidebar-box:hover {
  transform: translateX(0);
  opacity: 1}

#sidebar {
  background-color: inherit !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important}

.tabbrowser-tab[pending] :is(.tab-icon-image, .tab-label) {opacity: .6 !important}

!.tab-label {font-size: 14px}




/*   Bookmarks   */
#PersonalToolbar:not([customizing]),
#PlacesToolbarItems .bookmark-item[type="menu"] .toolbarbutton-icon,
#PlacesToolbarItems .bookmark-item[scheme="https"] .toolbarbutton-text,
.bookmarks-actions-menuseparator,
.openintabs-menuitem
  {display: none !important}

#PlacesToolbarItems toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding-inline: var(--toolbarbutton-outer-padding) !important;
  border-radius: 0 !important;
  background-color: transparent !important}

#PlacesToolbarItems toolbarbutton.bookmark-item:is(:hover, [open]) > :is(image, label) {background-color: var(--toolbarbutton-hover-background)}

#PlacesToolbarItems toolbarbutton.bookmark-item > label {
  padding: 5px !important;
  border-radius: var(--button-border-radius)}

#PlacesToolbarItems toolbarbutton.bookmark-item > .toolbarbutton-icon {
  padding: 8px;
  margin: 0 !important;
  border-radius: var(--button-border-radius);
  width: 32px !important;
  height: 32px !important}

#PlacesToolbarItems toolbarbutton.bookmark-item[dragover] > label {color: var(--link-color)}

#PlacesToolbarItems .toolbarbutton-text {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 1px !important}

toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -9px -3px !important}




/*   Urlbar   */
#urlbar-container {--urlbar-container-height: 40px !important}

#urlbar[breakout] {min-height: 40px !important}

#main-window:not([window-modal-open]) .urlbar-input-container {padding-block: 4px !important}

#window-modal-dialog {--chrome-offset: 12px !important}

.urlbar-background:not(#urlbar[breakout][breakout-extend][open] > .urlbar-background) {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
  outline: none !important}

.urlbar-go-button,
.urlbarView-row[label="Firefox Suggest"]::before,
.urlbarView-row[type="search"] .urlbarView-title-,
.search-one-offs > hbox,
#picture-in-picture-button,
#taskbar-tabs-button
  {display: none !important}

.urlbarView-row[label="Firefox Suggest"] {margin-block-start: 0 !important}

#editBMPanel_folderMenuList menuitem.folder-icon {max-width: 260px !important}

tree {background-color: transparent !important}




/*   Downloads   */
#nav-bar:not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #downloads-button:is([progress="true"], [notification="finish"], [attention="warning"]) {
  position: relative;
  top: 39px}

#downloads-button:is([progress], [notification], [attention="warning"]):not(:hover):not([open]) :is(stack, .toolbarbutton-badge) {
  background-color: var(--toolbar-bgcolor) !important;
  border-radius: 30px !important}




/*   Toolbarbutton-badge   */
.toolbarbutton-badge {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  margin: -11px -8px 0 !important;
  text-align: right !important;
  font-size: 9px !important}

#PanelUI-menu-button > stack > label {margin: -9px -9px 0 !important}

.webextension-browser-action[attention] {background-size: 14px 4px !important}




/*   Unified extensions menu   */
#unified-extensions-view .panel-header,
#unified-extensions-view toolbarseparator:first-of-type,
.unified-extensions-item-menu-button.subviewbutton,
.unified-extensions-item-message-deck
  {display: none !important} 

#unified-extensions-view {padding-block: var(--panel-subview-body-padding)  !important}

.unified-extensions-item-icon,
#unified-extensions-panel .unified-extensions-item .webextension-browser-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 16px !important;
  width: 16px !important}




/*   Menu   */
#appMenu-new-tab-button2,
#appMenu-fullscreen-button2,
#appmenu-developer-tools
  {display: none !important}

#context-sep-navigation {margin: auto 1em !important}

menuitem:is([data-l10n-id="text-action-copy"], #context-copylink, #context-copy, #context-saveimage, #context-savevideo, #context-searchselect):not([disabled="true"]) label {color: var(--link-color)}




.printDialogBox {
  margin-top: 0 !important;
  --box-max-height-default: 100% !important}




/*   Statuspanel   */
#statuspanel-label {
  background-color: light-dark(#fffc, #000c) !important;
  color: light-dark(#000, #bbb) !important;
  border: 0 !important;
  border-top-right-radius: 5px}

#statuspanel[mirror] #statuspanel-label {
  border-radius: 5px 0 0}




/*   Tooltip   */
@media (prefers-color-scheme: dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext] tooltip,
  #main-window:not([lwthemetextcolor="dark"]) tooltip {
    background-color: #121215;
    border: 1px solid black;
    color: #e8e8e9}
}
