/*   Navbar   */
#sidebar-button,
#vertical-spacer,
.titlebar-buttonbox-container
  {display: none}

#navigator-toolbox {z-index: 4 !important}

#nav-bar {transition: none !important}

[sizemode=maximized] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -39px; top: -39px}
   [sizemode=normal] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -31px; top: -31px}
   [sizemode=normal] #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #nav-bar-customization-target * {opacity: 0}
                     #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) {background-color: black !important}

#nav-bar:is(:hover, :focus-within, :has(*[open]), :has(*[dragstart]), [customizing]) {
  box-shadow: 0 1px var(--chrome-content-separator-color), 0 2px 14px rgba(0, 0, 0, 0.13);
  background: inherit;
  background-color: var(--toolbar-bgcolor) !important;
  opacity: 1 !important;
  top: auto !important}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-1 {height: 100%}
toolbar .toolbaritem-combined-buttons {padding: 0 !important; margin: 0 !important}

.webextension-browser-action {min-height: 40px}

#notifications-toolbar {z-index: -1}
#notifications-toolbar:has(notification-message[value="pending-crash-reports"]) {display: none}




/*   Sidebar   */
#sidebar-main {
  display: block;
  position: fixed;
  height: 100%;
  width: 400px !important;
  max-width: 400px !important;
  left: -395px;
  background-color: var(--sidebar-background-color) !important;
  z-index: 3;
  opacity: 0;
  --tab-block-margin: 0}

#vertical-tabs {width: 400px}

#sidebar-main:hover,
#sidebar-main:has(#tabContextMenu[hasbeenopened]),
#tabContextMenu[hasbeenopened] #sidebar-main{
  left: 0;
  opacity: 1}

#sidebar-box[sidebarcommand="viewGenaiChatSidebar"] #sidebar {padding-left: 400px !important}

#main-window:not([titlepreface*="Sidebery"]) #sidebar-main[sidebar-panel-open] {
  left: 0 !important;
  opacity: 1 !important}

.sidebar-panel {
  height: 100% !important;
  width: auto !important;
  margin-left: 400px !important;
  background-color: var(--sidebar-background-color)}

#sidebar {
  background-color: var(--sidebar-background-color) !important;
  border-radius: 0 !important;
  box-shadow: none;
  outline: none}

#sidebar-box {
	width: 840px !important;
  padding: 0 !important}

#sidebar-launcher-splitter,
#sidebar-splitter 
 {display: none !important}



#main-window[titlepreface*="Sidebery"] :is(#vertical-tabs, #tabContextMenu) {display: none !important}

#main-window[titlepreface*="Sidebery"] #sidebar-box {
  position: fixed !important;
  height: 100%;
  width: 430px !important;
  left: -425px;
  padding: 0 !important;
  z-index: 3 !important;
  opacity: 0}

#main-window[titlepreface*="Sidebery"][sizemode=normal] #sidebar-box {padding: 0 0 8px 0 !important}

#main-window[titlepreface*="Sidebery"] #sidebar-box:hover{
  left: 0;
  opacity: 1}



#tabbrowser-tabs[orient="vertical"]::after,
sidebar-panel-header,
#sidebar-panel-header,
#vertical-tabs-newtab-button > label,
.button-background > label:nth-child(2),
#vertical-pinned-tabs-splitter,
#sidebar-tools-and-extensions-splitter,
moz-button.more-tools-button
  {display: none !important}

#pinned-tabs-container > tab:not(:hover, [selected], [multiselected]) > stack > vbox {background-color: transparent !important}

.tab-label {font-size: 15px}

.tabbrowser-tab[pending] :is(.tab-icon-image, .tab-label) {opacity: .6 !important}

#vertical-tabs-newtab-button:hover {background-color: var(--button-background-color-hover) !important}




/*   Bookmarks   */
#PersonalToolbar:not([customizing]),
#PlacesToolbarItems .bookmark-item[type="menu"] .toolbarbutton-icon,
#PlacesToolbarItems .bookmark-item[scheme="https"] .toolbarbutton-text,
.bookmarks-actions-menuseparator,
.openintabs-menuitem
  {display: none !important}

#PlacesToolbarItems toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding-inline: var(--toolbarbutton-outer-padding) !important;
  border-radius: 0 !important;
  background-color: transparent !important}

#PlacesToolbarItems toolbarbutton.bookmark-item:is(:hover, [open]) > :is(image, label) {background-color: var(--toolbarbutton-hover-background)}

#PlacesToolbarItems toolbarbutton.bookmark-item > label {
  padding: 5px !important;
  border-radius: var(--button-border-radius)}

#PlacesToolbarItems toolbarbutton.bookmark-item > .toolbarbutton-icon {
  padding: 8px;
  margin: 0 !important;
  border-radius: var(--button-border-radius);
  width: 32px !important;
  height: 32px !important}

#PlacesToolbarItems toolbarbutton.bookmark-item[dragover] > label {color: SelectedItem}

#PlacesToolbarItems .toolbarbutton-text {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 1px !important}

toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -9px -3px !important}




/*   Menu   */
#appMenu-new-tab-button2,
#appMenu-fullscreen-button2,
#appmenu-developer-tools
  {display: none !important}

#context-navigation > .menuitem-iconic[_moz-menuactive] > .menu-iconic-left > .menu-iconic-icon,
menuitem[_moz-menuactive][disabled] {
  background-color: transparent !important}

#context-sep-navigation {margin: auto 1em !important}

.printDialogBox {
  margin-top: 0 !important;
  --box-max-height-default: 100% !important}




/*   Urlbar   */
#nav-bar:not([customizing]) #urlbar-container {
  --urlbar-container-height: 40px !important;
  margin-inline: 20px !important}

#urlbar[breakout] {min-height: 40px !important}

#urlbar:not([open]) :is(#urlbar-searchmode-switcher, #trust-icon-container, #identity-box) {margin-block: 4px !important}

.urlbar-background:not(#urlbar[breakout][breakout-extend][open] > .urlbar-background) {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
  outline: none !important}

[focused]:not([suppress-focus-border]) > .urlbar-background {outline: none !important}

.urlbar-go-button,
.urlbarView-row[label="Firefox Suggest"]::before,
.urlbarView-row[type="search"] .urlbarView-title-,
.search-one-offs > hbox,
#picture-in-picture-button,
#taskbar-tabs-button
  {display: none !important}

.urlbarView-row[label="Firefox Suggest"] {margin-block-start: 0 !important}

.urlbarView-userContext {border-top: 2px solid var(--identity-tab-color) !important}

#editBMPanel_folderMenuList menuitem.folder-icon {max-width: 260px !important}

tree {background-color: transparent !important}



/*   Downloads   */
#nav-bar:not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #downloads-button:is([progress="true"], [notification="finish"], [attention="warning"]) {
  position: relative;
  top: 39px}

#downloads-button:is([progress], [notification], [attention="warning"]):not(:hover):not([open]) :is(stack, .toolbarbutton-badge) {
  background-color: var(--toolbar-bgcolor) !important;
  border-radius: 30px !important}




/*   Toolbarbutton-badge   */
.toolbarbutton-badge {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  margin: -11px -8px 0 !important;
  text-align: right !important;
  font-size: 9px !important}

#PanelUI-menu-button > stack > label {margin: -9px -9px 0 !important}

.webextension-browser-action[attention] {background-size: 14px 4px !important}




/*   Unified extensions menu   */
#unified-extensions-view .panel-header,
#unified-extensions-view toolbarseparator:first-of-type,
.unified-extensions-item-menu-button.subviewbutton,
.unified-extensions-item-message-deck
  {display: none !important} 

#unified-extensions-view {padding-block: var(--panel-subview-body-padding)  !important}

.unified-extensions-item-icon,
#unified-extensions-panel .unified-extensions-item .webextension-browser-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 16px !important;
  width: 16px !important}




/*   Statuspanel   */
#statuspanel-label {
  background-color: light-dark(#fffc, #000c) !important;
  color: light-dark(#000, #bbb) !important;
  border: 0 !important;
  border-top-right-radius: 5px}

#statuspanel[mirror] #statuspanel-label {
  border-radius: 5px 0 0}




/*   Tooltip   */
@media (prefers-color-scheme: dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext] tooltip,
  #main-window:not([lwthemetextcolor="dark"]) tooltip {
    background-color: #121215;
    border: 1px solid black;
    color: #e8e8e9}
}




/*   Colors   */
* {
  --autocomplete-popup-hover-background:  #8892;
  --button-background-color-ghost-active: #8892;
  --button-background-color-ghost-hover:  #8892;
  --button-background-color:              #8892;
  --menuitem-hover-background-color:      #8892;
  --panel-banner-item-background-color:   #8892;
  --panel-item-active-bgcolor:            #8892;
  --panel-item-hover-bgcolor:             #8892;
  --urlbarView-hover-background:          #8892;
  --urlbar-box-focus-bgcolor:             #8893;
  --button-active-bgcolor:                #8894;
  --button-background-color-hover:        #8894;
  --menu-border-color:                    #8894;
  --panel-banner-item-hover-bgcolor:      #8894;
  --panel-separator-color:                #8894;
  --toolbarbutton-active-background:      #8894;
  --toolbarbutton-hover-background:       #8894;
  --urlbar-box-active-bgcolor:            #8894;
  --urlbar-box-hover-bgcolor:             #8894;
  --urlbar-box-bgcolor:                   #8894;
  --urlbarView-separator-color:           #8894;
  --input-bgcolor:                        transparent;
  --background-color-box:                 transparent;
  --inactive-titlebar-opacity:            none;
  --text-color-deemphasized:              var(--text-color-disabled);
  --in-content-page-background:           var(--arrowpanel-background);
  --background-color-canvas:              var(--arrowpanel-background) !important;
  --info-bar-background-color:            var(--arrowpanel-background) !important;
  --panel-background:                     var(--arrowpanel-background);
  --panel-border-color:                   var(--arrowpanel-border-color);
}

:is(menu, menuitem)[_moz-menuactive]:not([disabled="true"]):not([customoptionstyling]) {background-color: #8893 !important}

menuitem:is([data-l10n-id="text-action-copy"], #context-copylink, #context-copy, #context-saveimage, #context-savevideo, #context-searchselect):not([disabled="true"]) label {color: var(--link-color)}





/*            Theme            (Disable to use themes from addons.mozilla.org)      */
.tab-background[selected] {
  background: radial-gradient(circle at center, #0011f580, transparent, #0011f580, transparent) !important;
  --tab-selected-outline-color: #fff1}

.urlbarView-row[selected] {background: linear-gradient(135deg, var(--arrowpanel-background) 1%, #4960fcaa, #0011f5aa, var(--arrowpanel-background))}

#appMenu-mainView > vbox:nth-child(1) > toolbarseparator::before {border-image: linear-gradient(135deg, #4960fcaa, #0011f5aa, transparent) 1 !important}

::selection {background-color: hsl(334,98%,45%) !important}

* {
  caret-color:                              red;
  --link-color:                             hsl(334,100%,60%);
}

@media (prefers-color-scheme: dark) {
  * {
    --toolbar-bgcolor:                      black;
    --sidebar-background-color:             #121113; 
    --arrowpanel-background:                #121113; 
    --arrowpanel-dimmed:                    #121113; 
    --toolbar-field-focus-background-color: #121113; 
    --background-color-canvas:              #121113 !important;
    --arrowpanel-border-color:              black;
    --chrome-content-separator-color:       black;
    --sidebar-border-color:                 black;
    }
  toolbarbutton.bookmark-item > image[src^="page-icon:https://github.com/"] {filter: invert(1)}
}
