@-moz-document domain("youtube.com") {
    /* Side menu */
/* List of subscriptions */
ytd-guide-section-renderer.style-scope:nth-child(2) > div:nth-child(2) > ytd-guide-entry-renderer,
ytd-guide-collapsible-entry-renderer.style-scope:nth-child(9),
/* More from youtube */
ytd-guide-section-renderer.style-scope:nth-child(3) > div:nth-child(2) > ytd-guide-collapsible-section-entry-renderer:nth-child(1) > div:nth-child(1),
ytd-guide-section-renderer.style-scope:nth-child(4),
ytd-guide-section-renderer.style-scope:nth-child(5) > h3,
ytd-guide-section-renderer.style-scope:nth-child(5) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(1),
ytd-guide-section-renderer.style-scope:nth-child(5) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(3),
ytd-guide-section-renderer.style-scope:nth-child(6),
#footer.style-scope.ytd-guide-renderer
    {display: none !important}

ytd-guide-collapsible-section-entry-renderer.ytd-guide-section-renderer:not(:first-child),
#sections.ytd-guide-renderer > .ytd-guide-renderer:not(:last-child) {border: none}


/* Color scheme */
html[dark], [dark] {
  --yt-spec-additive-background: rgba(255,255,255,0.06);
  --yt-spec-menu-background: #1c1c1c !important;
}

.ytVideoMetadataCarouselViewModelHost {background-color: var(--yt-spec-additive-background)}


/* Feed */
#contents.ytd-shelf-renderer {margin-top: 16px}
ytd-expanded-shelf-contents-renderer {margin-bottom: 16px}


/* Borders */
#contentContainer,
ytd-multi-page-menu-renderer,
.ytd-playlist-sidebar-renderer,
.ytd-feed-filter-chip-bar-renderer,
.ytd-sub-feed-selector-renderer
    {--yt-spec-10-percent-layer: 0}

#content.ytd-playlist-video-renderer,
.ytd-section-list-renderer,
#tabs-divider.ytd-tabbed-page-header
    {border-bottom: none !important}


/* Player */
.ytp-pause-overlay,
.branding-img-container,
.ytp-cards-button,
.ytp-cards-teaser,
.ytp-paid-content-overlay,
.ytp-ce-element,
.ytp-ce-hide-button-container,
.tp-yt-app-drawer::after
    {display: none !important}


.ytd-thumbnail,
.ytThumbnailViewModelMedium,
.ytThumbnailViewModelLarge
    {border-radius: 1px !important}


ytd-alert-with-button-renderer.style-scope,
.yt-alert-renderer.style-scope
    {border-radius: 8px !important}




/* Playlist menu */
ytd-add-to-playlist-renderer[dialog] #playlists.ytd-add-to-playlist-renderer {max-height: 800px}

.ytListViewModelHost {max-height: none !important}

.ytContextualSheetLayoutHost {background-color: var(--yt-spec-menu-background) !important}



.yt-list-item-view-model__container--has-subtitle {padding: 0 16px}
}

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
/* Feed */
ytd-item-section-renderer.style-scope > div > ytd-shelf-renderer > div > div > div > h2,
ytd-item-section-renderer.style-scope:not(:nth-child(1)) > div > ytd-shelf-renderer > div > div:nth-child(1),
ytd-item-section-renderer.style-scope:nth-child(5) > div:nth-child(3)
    {display: none}

.grid-subheader.ytd-shelf-renderer {margin-top: 9px}

ytd-section-list-renderer {--yt-spec-10-percent-layer: 0}
}

@-moz-document url-prefix("https://www.youtube.com/results") {
/* Recommendations in search results */
ytd-shelf-renderer.ytd-item-section-renderer.style-scope {display:none}

/* Thumbnail Rating Bar for YouTube fix */
ytd-item-section-renderer.style-scope > div > ytd-video-renderer > div > div > div > ytd-expandable-metadata-renderer > div > div > div > yt-img-shadow > ytrb-bar {display:none}
}

@-moz-document url-prefix("https://www.youtube.com/playlist") {
.yt-content-metadata-view-model__metadata-row {
    display: block;
    word-break: break-all}
}

@-moz-document url-prefix("https://www.youtube.com/watch"), url-prefix("https://www.youtube.com/clip") {
:root {scrollbar-width: none}


/* Header */
#container.ytd-masthead {transition: 200ms}
#masthead[theater] {opacity: 0; transition: 200ms}
#masthead[theater]:hover {opacity: 1}


/* Player */
ytd-watch-flexy.style-scope[theater]:not([fullscreen]) #full-bleed-container {margin-top: -56px}

ytd-watch-flexy[full-bleed-player][respect-aspect-ratio]:not([fullscreen]) #full-bleed-container {max-height: 100vh !important}
ytd-watch-flexy[full-bleed-player][respect-aspect-ratio]:not([fullscreen]) #full-bleed-container.ytd-watch-flexy {height: 100vh !important}


ytd-topbar-logo-renderer,
.ytp-fullscreen-button,
.ytp-miniplayer-button,
.tp-yt-app-drawer::after,
ytd-toggle-button-renderer.style-scope:nth-child(2) > a:nth-child(1) > yt-formatted-string:nth-child(2)
    {display: none !important}


/* Button names */
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > yt-button-view-model:nth-child(2) > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(2),
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(2) > yt-button-view-model > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(2),
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > yt-button-view-model:nth-child(3) > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(2),
button.ytd-menu-renderer > div:nth-child(2)
    {display: none !important}

ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > yt-button-view-model:nth-child(2) > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(1),
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(2) > yt-button-view-model > button-view-model:nth-child(1) > button:nth-child(1) > div,
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > yt-button-view-model:nth-child(3) > button-view-model:nth-child(1) > button:nth-child(1) > div:nth-child(1),
button.ytd-menu-renderer > div:nth-child(2) {
    margin-right: -10px;
    margin-left: -10px}

html[dark], [dark] {--yt-spec-raised-background: rgba(255,255,255,0.06)}

.ytd-watch-flexy {--ytd-watch-flexy-panel-max-height: 917px}
}
