/*   Disable Tabs   */
#titlebar, #tabContextMenu {display:none}




/*   Auto hide navbar   */
#navigator-toolbox {border: 0 !important}

#nav-bar {
  box-shadow: inset 0 1px black,  0 1px var(--chrome-content-separator-color),  0 2px 14px rgba(0, 0, 0, 0.13)  !important;
  background: inherit !important;
  background-color: var(--lwt-accent-color) !important;
  transition: none !important}

[sizemode=maximized]                    #nav-bar:not([customizing]) {margin-bottom: -39px}
[sizemode=normal]                       #nav-bar:not([customizing]) {margin-bottom: -30px}
[sizemode=maximized][uidensity=compact] #nav-bar:not([customizing]) {margin-bottom: -33px}
[sizemode=normal][uidensity=compact]    #nav-bar:not([customizing]) {margin-bottom: -25px}

#nav-bar:hover,
#nav-bar:focus-within,
#mainPopupSet:hover ~ box > toolbox > .browser-toolbar {
  z-index: 3}

[sizemode=normal] #nav-bar:not(:hover):not(:focus-within):not(#mainPopupSet:hover ~ box > toolbox > .browser-toolbar) #identity-icon-box,
[sizemode=normal] #nav-bar:not(:hover):not(:focus-within):not(#mainPopupSet:hover ~ box > toolbox > .browser-toolbar) #urlbar-zoom-button {background-color: transparent !important}
[sizemode=normal] #nav-bar:not(:hover):not(:focus-within):not(#mainPopupSet:hover ~ box > toolbox > .browser-toolbar) .toolbarbutton-badge {color: transparent !important}




/*   Auto hide sidebar   */
#sidebar-box:not([hidden]) {
  border-right: solid 1px var(--chrome-content-separator-color) !important;
  box-shadow: 2px 0 14px rgba(0, 0, 0, 0.13) !important;
  overflow: hidden;
  height: 100%;
  position: fixed;
  max-width: 1px;
  display: block;
  z-index: 2;
  opacity: 0}

[sizemode=normal] #sidebar-box {max-width: 4px}

#appcontent {margin-left: -6px}

@media(-moz-windows-default-theme) {
  [sizemode=normal] #sidebar-box {height: calc(100% - 10px)}
  #appcontent {margin-left: 0}
}

#sidebar-box:not([hidden]):hover {
  width: 321px !important;
  max-width: 100%;
  opacity: 1}

#sidebar {
  width: 320px !important;
  height: 100%}


.sidebar-splitter {--sidebar-border-color: var(--chrome-content-separator-color)}

#sidebar-header {display:none}




/*   Bookmarks   */
#PersonalToolbar:not([customizing]),
.bookmark-item .toolbarbutton-icon,
.openintabs-menuitem,
.bookmarks-actions-menuseparator
  {display:none}

#PlacesToolbarItems menu.menu-iconic > menupopup {margin: -8px !important}

#PlacesToolbarItems toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding-inline: 6px !important;
  border-radius: 0 !important}

#PlacesToolbarItems .toolbarbutton-text {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 1px !important}

[uidensity=compact] #PlacesToolbarItems .toolbarbutton-text {margin-bottom: 2px !important}

toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -8px -4px !important}

@media(-moz-platform: linux) {
  toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -8px !important}
}

.menupopup-arrowscrollbox {border: 1px solid var(--panel-border-color) !important}

#PlacesToolbar menupopup[placespopup="true"] menuseparator::before {display: none}

#PlacesToolbar menupopup menuseparator {height: 1px}




/*   Menu   */
:not(#ContentSelectDropdown) > menupopup > menuitem,
:not(#ContentSelectDropdown) > menupopup > menu {
  padding-block: 6px !important}

#appMenu-new-tab-button2,
#appMenu-fullscreen-button2,
#appmenu-developer-tools,
#context-sep-navigation
  {display:none !important}

#context-navigation:not([hidden]) {
  --menuitem-min-width: 53px !important;
  padding: 0 !important}

#contentAreaContextMenu:has(#context-navigation) {
  --panel-padding: 0 0 3px !important}


* {
  --arrowpanel-border-radius: 4px;
  --arrowpanel-menuitem-margin: 0;
  --arrowpanel-menuitem-padding: 7px 13px !important;
  --panel-subview-body-padding: 3px 0;
  --panel-separator-margin-vertical: 1px !important;
  --menuitem-disabled-hover-background-color: none;
}

.panel-subview-footer-button {margin-bottom: 3px !important}

menu[_moz-menuactive]:not([disabled]):not([customoptionstyling]),
menuitem[_moz-menuactive]:not([disabled]):not([customoptionstyling]) {
  background-color: /*var(--panel-item-hover-bgcolor)*/ color-mix(in srgb, currentColor 5%, transparent) !important}

@media(-moz-platform:linux),(prefers-color-scheme:light) {
  menu[_moz-menuactive]:not([disabled]):not([customoptionstyling]),
  menuitem[_moz-menuactive]:not([disabled]):not([customoptionstyling]) {
    background-color: /*var(--panel-item-hover-bgcolor)*/ color-mix(in srgb, black 5%, transparent) !important}
}

#context-navigation > .menuitem-iconic[_moz-menuactive] > .menu-iconic-left > .menu-iconic-icon,
menuitem[_moz-menuactive][disabled] *,
menuitem[_moz-menuactive][disabled] {
  background-color: transparent !important}

menu,
menuitem,
.toolbarbutton-1,
.subviewbutton:not(#appMenu-fxa-label2,.subviewbutton-back) {
  border-radius: 0 !important}

.addon-banner-item,
.panel-banner-item {
  margin: 2px 5px 3px !important;
  padding: 7px 7px 7px 0 !important}

.panel-header {padding: 4px !important}

#appMenu-fxa-status2[fxastatus] > #appMenu-fxa-label2 > vbox > #appMenu-header-description,
#appMenu-fxa-text,
#appMenu-proton-update-banner.panel-banner-item label.toolbarbutton-text {
  margin-top: -3px !important}

#appMenu-fxa-status2:not([fxastatus]) {padding-block: 6px 8px !important}

menupopup[needsgutter] menu:not([icon],.menu-iconic),
menupopup[needsgutter] menuitem:not([checked="true"],[icon],.menuitem-iconic) {
  padding-inline-start: 1em !important}

#appMenu-popup panelview,
#PanelUI-fxa {
  width: 21.8em !important}

#contentAreaContextMenu {max-width: 27em !important}

#appMenu-popup {
  --panel-disabled-color: color-mix(in srgb, currentColor 35%, transparent);
  --panel-shortcut-color: color-mix(in srgb, currentColor 35%, transparent);
  --panel-separator-zap-gradient: none;
}


/*   Repaints the bookmark menu and context menus to the main menu color   */
#main-window :not(#ContentSelectDropdown) > menupopup:not(#context-navigation[hidden]),
#textbox-contextmenu {    
  --panel-background: var(--arrowpanel-background) !important;
  --panel-color: var(--arrowpanel-color) !important;
  --menu-color:  var(--arrowpanel-color) !important;
  --panel-border-color: var(--arrowpanel-border-color) !important;
  --panel-border-radius: 4px !important;
  --panel-padding: 3px 0 !important;
}

menuseparator {border-top: 1px solid /*var(--panel-separator-color)*/ color-mix(in srgb, currentColor 7%, transparent) !important}

menupopup menuseparator {margin: 1px .5em !important}

@media(-moz-platform: linux) {
  menuseparator {-moz-default-appearance: none !important}

  menuitem,
  menu {
    appearance: none !important;
    padding: 0 6px !important}
}

panel {
  transition-duration: 0ms !important;
  --panelui-subview-transition-duration: 0.1ms}




/*   Urlbar   */
#urlbar-container * {
  --urlbar-height: var(--urlbar-toolbar-height) !important;
}

#urlbar-container {margin-inline: 12px !important}

#urlbar-background:not(#urlbar[breakout][breakout-extend][open] > #urlbar-background) {
  background-color: transparent !important;
  border: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important}

#notification-popup-box:hover,
#notification-popup-box[open] {
  background-color: var(--toolbarbutton-hover-background) !important}

#identity-popup-security-button {margin-bottom: 0 !important}

.protections-popup-footer-button,
.protections-popup-category {
	border-radius: 0 !important}

.urlbarView-action {
  margin-block: -4px !important;
  padding: 6.25px 8px !important}

.urlbarView-row[label="Firefox Suggest"]::before,
.urlbarView-row:not([type="switchtab"]) .urlbarView-action,
.urlbarView-title-,
.search-one-offs > hbox,
.urlbarView-title-separator
  {display:none !important}

.urlbarView-row:not([dynamicType="quickactions"]) {margin-inline: 0 !important}

.urlbarView-url {padding-left: 5px}

.urlbarView-row[label] {margin-block-start: 0 !important}

#identity-box,
#urlbar-label-box,
#page-action-buttons,
#urlbar-search-mode-indicator,
#tracking-protection-icon-container {
  margin: 2.5px 0}

#main-window:not([uidensity=compact]) #urlbar-zoom-button {margin-block: 3px !important}

#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {animation-duration: 0ms !important}

#editBookmarkPanel {max-width: 500px}

#editBMPanel_folderTree * {background-color: var(--panel-background) !important}

richlistbox {background-color: transparent !important}




/*   Downloads   */
#downloads-button[progress="true"],
#downloads-button[notification="finish"],
#downloads-button[attention="warning"] {
  position: absolute;
  z-index: 1}

#nav-bar:not(:hover):not(:focus-within):not(#mainPopupSet:hover ~ box > toolbox > .browser-toolbar) #downloads-button[progress]:not([open]) stack,
#nav-bar:not(:hover):not(:focus-within):not(#mainPopupSet:hover ~ box > toolbox > .browser-toolbar) #downloads-button[notification]:not([open]) stack,
#nav-bar:not(:hover):not(:focus-within):not(#mainPopupSet:hover ~ box > toolbox > .browser-toolbar) #downloads-button[attention="warning"]:not([open]) stack,
#nav-bar:not(:hover):not(:focus-within):not(#mainPopupSet:hover ~ box > toolbox > .browser-toolbar) #downloads-button[attention="warning"]:not([open]) .toolbarbutton-badge {
  background-color: var(--toolbar-bgcolor) !important;
  border-radius: 30px !important}

#downloads-indicator-finish-image {--anim-steps: calc(var(--anim-frames) + 200 !important)}

#downloadsPanel-mainView {padding: 3px 0 0 0 !important}

.downloadMainArea {padding-inline-start: 10px !important}

#downloadsListBox > richlistitem {border-radius: 0 !important}




/*   Toolbarbutton-badge   */
.toolbarbutton-badge {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  margin: -11px -11px 0 !important;
  font-size: 9px !important}

[uidensity=compact] .toolbarbutton-badge {
  margin: -10px -10px 0 !important;
  font-size: 8px !important}




/*   Dialog   */
.dialogBox {border-radius: 4px !important}

#window-modal-dialog {--chrome-offset: 20px !important}

.printDialogBox {--box-top-px: none !important}




/*   Statuspanel   */
#statuspanel-label {
  border: 0 !important;
  border-top-right-radius: 3px;
  background-color: #fffc !important;
  color: #000 !important}

#statuspanel[mirror] #statuspanel-label {
  border-radius: 3px 0 0}

@media (prefers-color-scheme:dark), (-moz-content-prefers-color-scheme:dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext="true"] #statuspanel-label,
  #main-window:not([lwthemetextcolor="dark"]) #statuspanel-label {
    background-color: #000c !important;
    color: #bbb !important}
}



/*   Tooltip   */
@media (prefers-color-scheme:dark), (-moz-content-prefers-color-scheme:dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext="true"] tooltip,
  #main-window:not([lwthemetextcolor="dark"]) tooltip {
    background-color: #121215;
    border: 1px solid #333;
    color: #e8e8e9}
}




* {
  scrollbar-width: thin; 
  scrollbar-color: #5556 transparent !important;

  
  --button-bgcolor: color-mix(in srgb, currentColor 6%, transparent) !important;
      --urlbar-box-bgcolor: var(--button-bgcolor);
      --urlbar-box-focus-bgcolor: var(--button-bgcolor);
  
  
  --button-hover-bgcolor: color-mix(in srgb, currentColor 9%, transparent) !important;
      --button-active-bgcolor: var(--button-hover-bgcolor) !important;
      --urlbar-box-hover-bgcolor: var(--button-hover-bgcolor);
      --urlbar-box-active-bgcolor: var(--button-hover-bgcolor);
  
  
  --panel-item-hover-bgcolor: color-mix(in srgb, currentColor 5%, transparent) !important;
      --panel-item-active-bgcolor: var(--panel-item-hover-bgcolor) !important;
      --autocomplete-popup-hover-background: var(--panel-item-hover-bgcolor) !important;
      --menuitem-hover-background-color: var(--panel-item-hover-bgcolor) !important;
  
  
  --toolbarbutton-hover-background: color-mix(in srgb, currentColor 8%, transparent) !important;
      --toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;
  
  
  --panel-separator-color: color-mix(in srgb, currentColor 7%, transparent) !important;
      --menu-border-color: var(--panel-separator-color);
  --autocomplete-popup-separator-color: color-mix(in srgb, currentColor 7%, transparent) !important;
  
  --input-bgcolor: transparent;
}



@media (prefers-color-scheme:dark) {
  
  
  /*   Auto theme in dark mode   */
  [lwt-default-theme-in-dark-mode] *,
  [lwt-default-theme-in-dark-mode]:root,
  [style="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"] *,
  [style="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"]:root {
    
    --toolbar-color:                  hsl(252, 4%, 95%);  --toolbarbutton-icon-fill: currentColor;  --toolbar-field-focus-color: currentColor; 
                                                          --autocomplete-popup-highlight-color: currentColor;  --arrowpanel-color: var(--toolbar-color);
    --toolbar-bgcolor:                hsl(252, 4%, 6%);  --lwt-accent-color: var(--toolbar-bgcolor);
    --arrowpanel-background:          hsl(252, 4%, 9%);  --toolbar-field-focus-background-color: var(--arrowpanel-background);
    --arrowpanel-border-color:        black !important;
    --chrome-content-separator-color: black !important;
    --lwt-brighttext-url-color:       #007893 !important;
    --autocomplete-popup-highlight-background: var(--button-hover-bgcolor) !important;
    --urlbar-popup-url-color:         hsl(225, 99%, 70%) !important;
  }
  
  
  
  * {caret-color: #FF3641}

  .titleIcon {background-color: transparent !important}
  
  .webextension-browser-action {filter: grayscale(20%)}

  :root[dialogroot], :host(dialog) {--in-content-page-background: hsl(252, 4%, 8%) !important}
  
  dialog {
    border: 1px solid black;
    --in-content-box-background: transparent !important;
    --in-content-button-background: hsl(252, 4%, 14%) !important;
    --in-content-button-background-hover: hsl(252, 4%, 20%) !important;
    --in-content-button-background-active: hsl(252, 4%, 20%) !important;
  }
  
  window#bookmarkproperties menupopup#textbox-contextmenu.textbox-contextmenu {
    --panel-color: hsl(252, 4%, 95%);
    --panel-background: hsl(252, 4%, 9%) !important;
    --panel-border-color: black !important;
  }
    
  ::selection {
    background-color: hsl(240, 38%, 18%) !important;
    color: hsl(240, 79%, 80%) !important}

  
  /*   Highlighting menu items with color   */
  menuitem[data-l10n-id="text-action-copy"]:not([disabled]) label.menu-text,
  menuitem#context-copylink:not([disabled]) label.menu-text,
  menuitem#context-copy:not([disabled]) label.menu-text {
    color: hsl(235, 99%, 73%) !important}
  
  menuitem#context-saveimage:not([disabled]) label.menu-text,
  menuitem#context-savevideo label.menu-text {
    color: #0C96AC !important}
  
}
