#titlebar, #tabContextMenu {display:none}

@media(-moz-windows-default-theme) {[sizemode="maximized"] #nav-bar {margin-top: 8px}}  /*  Workaround  https://bugzilla.mozilla.org/show_bug.cgi?id=1614218  */




/*   Auto hide navbar   */
#nav-bar {
  box-shadow: inset 0 1px black !important;
  transition: none !important}

[sizemode=maximized]                    #nav-bar:not([customizing]) {margin-bottom: -40px}
[sizemode=normal]                       #nav-bar:not([customizing]) {margin-bottom: -38px}
[sizemode=maximized][uidensity=compact] #nav-bar:not([customizing]) {margin-bottom: -34px}
[sizemode=normal][uidensity=compact]    #nav-bar:not([customizing]) {margin-bottom: -32px}

#nav-bar:hover,
#nav-bar:focus-within,
#nav-bar[customizing],
#mainPopupSet:hover ~ box > toolbox > .browser-toolbar {
  background: inherit !important;
  background-color: var(--lwt-accent-color) !important;
  z-index: 3}



/*   Blur navbar   */
#nav-bar:hover:not([urlbar-exceeds-toolbar-bounds]), 
#nav-bar:focus-within:not([urlbar-exceeds-toolbar-bounds]),
#nav-bar[customizing],
#mainPopupSet:hover ~ box > toolbox > .browser-toolbar:not([urlbar-exceeds-toolbar-bounds])
  {backdrop-filter: blur(16px) saturate(200%)}




/*   Auto hide sidebar   */
#sidebar-box:not([hidden]) {
  overflow: hidden;
  height: 100%;
  position: fixed;
  max-width: 1px;
  display: block;
  transition: 50ms;
  z-index: 2;
  opacity: 0}

#appcontent {margin-left: -6px}

@media(-moz-windows-default-theme) {
  [sizemode=maximized] #sidebar-box {height: calc(100% - 10px)}
  [sizemode=normal] #sidebar-box {height: calc(100% - 4px)}
  #appcontent {margin-left: 0}
}

#sidebar-box:not([hidden]):hover {
  max-width: 100%;
  opacity: 1}

#sidebar {
  width: 300px !important;
  height: 100%}



#sidebar-header {display:none}
.sidebar-splitter {border-color: transparent !important}




/*   Bookmarks   */
#PersonalToolbar:not([customizing]),
.bookmark-item .toolbarbutton-icon,
.openintabs-menuitem,
.bookmarks-actions-menuseparator,
#PlacesToolbar menupopup menuseparator::before
  {display:none}

toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding-inline: 6px !important;
  border-radius: 0 !important}

toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -5px -3px !important}

@media not (-moz-windows-default-theme), (-moz-platform: linux) {
  toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -8px !important}
}

#PlacesToolbar menupopup menuseparator {padding: 0 !important}

.menupopup-arrowscrollbox {border: 1px solid var(--panel-border-color) !important}




/*   Menu   */
@media (prefers-color-scheme:dark) {
  panel, menupopup {opacity: .98 !important}
}

:not(#ContentSelectDropdown) > menupopup > menuitem,
:not(#ContentSelectDropdown) > menupopup > menu {
  padding-block: 0.4em !important}

menuseparator {
  border-top: 0.5em solid transparent !important;
  margin: 0 !important}

#appMenu-new-tab-button2,
#appMenu-fullscreen-button2,
#appmenu-developer-tools,
#context-sep-navigation
  {display:none !important}

#context-navigation {padding: 0 !important}

* {
  --arrowpanel-border-radius: 6px;
  --arrowpanel-menuitem-padding-block: 7.5px !important;
  --arrowpanel-menuitem-margin: 0 5px;
  --panel-subview-body-padding: 5px 0;
  --menuitem-disabled-hover-background-color: none;
  --panel-separator-zap-gradient: none;
}

.addon-banner-item,
.panel-banner-item {
  margin: 0 5px 4px !important}

.toolbaritem-combined-buttons:not([widget-type="button-and-view"]),
.toolbaritem-menu-buttons {
  margin-inline-end: 4px !important}

#appMenu-fxa-status2:not([fxastatus]) {padding-block: 4px !important}

menupopup[needsgutter] menu:not([icon],.menu-iconic),
menupopup[needsgutter] menuitem:not([checked="true"],[icon], .menuitem-iconic) {
  padding-inline-start: 1em !important}

#appMenu-popup panelview,
#PanelUI-fxa {
  width: 22em !important}

#contentAreaContextMenu {max-width: 27em !important}

#appMenu-popup {--panel-shortcut-color: color-mix(in srgb, var(--arrowpanel-color) 35%, var(--arrowpanel-background))}


    /*   Repaints the bookmark menu and context menus to the main menu color   */
#main-window :not(#ContentSelectDropdown) > menupopup {
  --menuitem-hover-background-color: var(--button-hover-bgcolor) !important;
  --menu-background-color: var(--arrowpanel-background) !important;
  --menu-color: var(--arrowpanel-color) !important;
  --menu-disabled-color: var(--panel-disabled-color) !important;
  --menu-border-color: var(--arrowpanel-border-color) !important;
}

    /*   linux   */
@media not (-moz-windows-default-theme), (-moz-platform: linux) {
  
  menupopup {    
    --panel-background: var(--arrowpanel-background) !important;
    --panel-color: var(--arrowpanel-color) !important;
    --panel-border-color: var(--arrowpanel-border-color) !important;
    --panel-border-radius: var(--arrowpanel-border-radius) !important;
    --panel-padding: 5px 0 !important;
  }
  
  menuseparator {-moz-default-appearance: none !important}

  menuitem {
    appearance: none !important;
    padding: 0 6px !important}


  menuitem[_moz-menuactive]:not([disabled]) {
    background-color: var(--menuitem-hover-background-color) !important;
    color: var(--arrowpanel-color) !important}
  
  menuitem[_moz-menuactive][disabled] {
    background-color: transparent !important}
  
}




/*   Urlbar   */
* {
  --urlbar-height: var(--urlbar-toolbar-height) !important;
  --urlbar-box-hover-bgcolor: var(--toolbarbutton-hover-background);
  --lwt-toolbar-field-focus: var(--toolbar-field-focus-background-color);
}

#urlbar-container {margin-inline: 12px !important}

#urlbar-background:not(#urlbar[breakout][breakout-extend][open] > #urlbar-background) {
  background-color: transparent !important;
  border: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important}

#identity-icon-box {max-width: calc(50px + 10em) !important}

.identity-box-button:not(:hover) {background-color: transparent !important}

#notification-popup-box:hover,
#notification-popup-box[open] {
  background-color: var(--toolbarbutton-hover-background) !important}

#urlbar-search-mode-indicator {background-color: var(--urlbar-box-hover-bgcolor) !important}

.urlbarView-action {
  margin-block: -4px !important;
  padding: 6.2px 8px !important}

.urlbarView-row:not([type="switchtab"]) .urlbarView-action,
.urlbarView-title-separator,
.search-one-offs > hbox
  {display:none !important}

.urlbarView-url {padding-left: 5px}

#urlbar[breakout][breakout-extend][open] > #urlbar-background,
.urlbarView-row[type="switchtab"]:hover .urlbarView-action,
.urlbarView-row[type="switchtab"][aria-selected="true"] .urlbarView-action {
  background-color: color-mix(in srgb, var(--lwt-toolbar-field-focus) /*85*/99%, transparent) !important;
  backdrop-filter: blur(32px) saturate(200%)}

.urlbarView-row[label="Firefox Suggest"]::before {display: none !important}

.urlbarView-row[label] {margin-block-start: 0 !important}




/*   Downloads   */
#downloads-button[progress="true"],
#downloads-button[notification="finish"],
#downloads-button[attention="warning"] {
  z-index: 1;
  position: absolute}

#downloads-indicator-finish-image {
  --anim-steps: calc(var(--anim-frames) + 200 !important)}

#downloadsPanel-mainView {
	min-width: 35em !important;
	padding: 5px !important}




/*   Toolbarbutton-badge   */
.toolbarbutton-badge {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  margin: -11px 0 0 !important;
  margin-inline-end: -11px !important}

[uidensity=compact] .toolbarbutton-badge {
  margin: -10px 0 0 !important;
  margin-inline-end: -10px !important}



#window-modal-dialog {--chrome-offset: 20px !important}



/*   Statuspanel   */
#statuspanel-label {
  border: 0 !important;
  border-top-right-radius: 3px;
  backdrop-filter: blur(32px) saturate(200%);
  background-color: /*#fff8*/#fffc !important;
  color: #000 !important}

#statuspanel[mirror] #statuspanel-label {
  border-top-left-radius: 3px;
  border-top-right-radius: 0}

@media (prefers-color-scheme:dark), (-moz-content-prefers-color-scheme: dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext="true"] #statuspanel-label,
  #main-window:not([lwthemetextcolor="dark"]) #statuspanel-label {
    background-color: /*#0008*/#000c !important;
    color: #eee !important}
}



/*   Tooltip   */
tooltip {
  appearance: none;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #000}

@media (prefers-color-scheme:dark), (-moz-content-prefers-color-scheme: dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext="true"] tooltip,
  #main-window:not([lwthemetextcolor="dark"]) tooltip {
    background-color: #121215;
    border: 1px solid #333;
    color: #e8e8e9}
}




* {
  
  scrollbar-width: thin; 
  scrollbar-color: #80808040 transparent !important;



  /*   active same as hover   */
  --toolbarbutton-active-background: var(--toolbarbutton-hover-background);
  --urlbar-box-active-bgcolor: var(--urlbar-box-hover-bgcolor);
  --button-active-bgcolor: var(--button-hover-bgcolor);
  --panel-banner-item-active-bgcolor: var(--panel-banner-item-hover-bgcolor);
  --panel-item-active-bgcolor: var(--panel-item-hover-bgcolor);
  
}



/*   Auto theme in dark mode  */
@media (prefers-color-scheme:dark) {
  [lwt-default-theme-in-dark-mode] *,
  [style="--lwt-accent-color: white; --lwt-text-color: rgba(0, 0, 0);"] * {
    
    --background:  #121215;
    --color:       #e8e8e9;
    --contrast:    1;
    
    --nav:         color-mix(in srgb, var(--background) /*87*/99%, transparent);
    --btn:         color-mix(in srgb, var(--color) calc(4%  * var(--contrast)), transparent);
    --border:      color-mix(in srgb, var(--color) calc(6%  * var(--contrast)), transparent);
    --hover:       color-mix(in srgb, var(--color) calc(6%  * var(--contrast)), transparent);
    
    --autocomplete-popup-highlight-background: color-mix(in srgb, var(--color) calc(10% * var(--contrast)), transparent);
    
    --button-hover-bgcolor: color-mix(in srgb, var(--color) calc(4% * 2 * var(--contrast)), transparent);
    
    --arrowpanel-background: var(--background);
    
    --toolbarbutton-icon-fill: var(--color);
    --toolbar-color: var(--color);
    --lwt-toolbar-field-color: var(--color);
    --lwt-toolbar-field-focus-color: var(--color);
    --arrowpanel-color: var(--color);
    
    --lwt-accent-color: var(--nav);
    --toolbar-bgcolor: var(--nav);
    --toolbar-non-lwt-bgcolor: var(--nav);
    --lwt-toolbar-field-focus: var(--nav);
    
    --urlbar-box-bgcolor: var(--btn);
    --urlbar-box-focus-bgcolor: var(--btn);
    --button-bgcolor: var(--btn);
    --panel-banner-item-background-color: var(--btn);
    --input-bgcolor: var(--btn);
    
    --arrowpanel-border-color: var(--border);
    --panel-separator-color: var(--border);
    --autocomplete-popup-separator-color: var(--border);

    --autocomplete-popup-hover-background: var(--hover);
    --panel-item-hover-bgcolor: var(--hover);
    --panel-banner-item-hover-bgcolor: var(--hover);
    --urlbar-box-hover-bgcolor: var(--hover);
    --toolbarbutton-hover-background: var(--hover);
    
  }
  
  * {--in-content-page-background: #17171A !important}
  
}



/*   Make borders not bright for third-party themes   
* {--panel-border-color: color-mix(in srgb, var(--arrowpanel-border-color) 30%, var(--arrowpanel-background)) !important}
#urlbar[open] > #urlbar-background {border-color: color-mix(in srgb, var(--arrowpanel-border-color) 30%, var(--lwt-toolbar-field-focus)) !important}
*/
