#titlebar {display:none}

@media(-moz-windows-default-theme) {[sizemode="maximized"] #nav-bar {margin-top: 8px}}  /*  Workaround  https://bugzilla.mozilla.org/show_bug.cgi?id=1600582  */




/*   Auto hide navbar   */
#nav-bar {
  background-color: black !important;
  transition: none !important}

[sizemode=maximized]                    #nav-bar:not([customizing]) {margin-bottom: -40px}
[sizemode=normal]                       #nav-bar:not([customizing]) {margin-bottom: -38px}
[sizemode=maximized][uidensity=compact] #nav-bar:not([customizing]) {margin-bottom: -34px}
[sizemode=normal][uidensity=compact]    #nav-bar:not([customizing]) {margin-bottom: -32px}

#nav-bar:hover,
#nav-bar:focus-within,
#nav-bar[customizing],
#mainPopupSet:hover ~ box > toolbox > .browser-toolbar {
  background: inherit !important;
  background-color: var(--lwt-accent-color) !important;
  z-index: 2}




#nav-bar:hover:not([urlbar-exceeds-toolbar-bounds]), 
#nav-bar:focus-within:not([urlbar-exceeds-toolbar-bounds]),
#nav-bar[customizing],
#mainPopupSet:hover ~ box > toolbox > .browser-toolbar:not([urlbar-exceeds-toolbar-bounds])
  {backdrop-filter: blur(16px) saturate(200%)}




/*   Auto hide sidebar   */
#sidebar-header {display:none}

#sidebar-box:not([hidden]) {
  overflow: hidden;
  height: calc(100% - 10px);
  position: fixed;
  max-width: 1px;
  display: block;
  transition: 50ms;
  z-index: 1;
  opacity: 0}

#sidebar-box:hover {
  max-width: 100%;
  opacity: 1}

#sidebar {
  width: 280px !important;
  height: 100%}




/*   Bookmarks   */
.bookmark-item .toolbarbutton-icon,
.openintabs-menuitem,
.bookmarks-actions-menuseparator,
#PlacesToolbar menupopup menuseparator::before
  {display:none}

toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding-inline: 6px !important;
  border-radius: 0 !important}

#personal-bookmarks #PlacesChevronPopup {margin: -5px -1px !important}

toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -5px -3px !important}

#PlacesToolbar menupopup menuseparator {padding: 0 !important}

.menupopup-arrowscrollbox {border: 1px solid var(--panel-border-color) !important}




/*   Menu   */
menupopup > menuitem,
menupopup > menu {
  padding-block: 0.4em !important}

menuseparator {
  border-top: 8px solid transparent !important;
  margin: 0 !important}

#context-sep-navigation {display:none}

#context-navigation {padding: 0 !important}

:root {
  --arrowpanel-border-radius: 6px !important;
  --arrowpanel-menuitem-padding-block: 7.5px !important;
  --arrowpanel-menuitem-margin: 0 5px !important;
  --panel-subview-body-padding: 5px 0 !important;
}

.addon-banner-item,
.panel-banner-item {
  margin: 0 5px 4px !important}

.toolbaritem-combined-buttons:not([widget-type="button-and-view"]),
.toolbaritem-menu-buttons {
  margin-inline-end: 4px !important}

#appMenu-fxa-status2:not([fxastatus]) {padding-block: 4px !important}




/*   Urlbar   */
* {--urlbar-height: var(--urlbar-toolbar-height) !important}

#urlbar-background:not(#urlbar[breakout][breakout-extend][open] > #urlbar-background) {
  background-color: transparent !important;
  border: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important}

#tracking-protection-icon-container:hover,
#tracking-protection-icon-container[open],
.identity-box-button:hover,
.identity-box-button[open],
#identity-icon-box[open],
#identity-permission-box[open],
#notification-popup-box:hover,
#notification-popup-box[open],
.urlbar-page-action:not([disabled]):hover,
.urlbar-page-action:not([disabled])[open] {
	background-color: var(--toolbarbutton-hover-background) !important}

#identity-icon-box {max-width: calc(50px + 10em) !important}

.identity-box-button:not(:hover) {background-color: transparent !important}

.urlbarView-action {margin-block: -4px !important}

.urlbarView-row:not([type="switchtab"]) .urlbarView-action,
.urlbarView-title-separator,
.search-one-offs > hbox
  {display:none !important}

.urlbarView-url {padding-left: 5px}

#urlbar[breakout][breakout-extend][open] > #urlbar-background,
.urlbarView-row[type="switchtab"]:hover .urlbarView-action,
.urlbarView-row[type="switchtab"][aria-selected="true"] .urlbarView-action {
  background-color: color-mix(in srgb, var(--lwt-toolbar-field-focus) 85%, transparent) !important;
  backdrop-filter: blur(32px) saturate(200%)}

:root {--lwt-toolbar-field-focus: var(--toolbar-field-focus-background-color)}

.urlbarView-row[label="Firefox Suggest"] {display: none !important}




.toolbarbutton-badge {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  margin: -11px 0 0 !important;
  margin-inline-end: -11px !important}

[uidensity=compact] .toolbarbutton-badge {
  margin: -10px 0 0 !important;
  margin-inline-end: -10px !important}




#statuspanel-label {
  border: 0 !important;
  backdrop-filter: blur(32px) saturate(200%);
  background-color: #fff8 !important;
  color: #000 !important}

#main-window[lwthemetextcolor="bright"] #statuspanel-label {
  background-color: #0008 !important;
  color: #eee !important}




* {scrollbar-width: thin; 
   scrollbar-color: #80808040 transparent !important}




/*   Repaints the bookmark menu and context menus to the main menu color   */
#mainPopupSet *:not([customoptionstyling]), #navigator-toolbox * {
  --menuitem-hover-background-color: var(--button-hover-bgcolor);
  --menu-background-color: var(--arrowpanel-background) !important;
  --menu-color: var(--arrowpanel-color) !important;
  --menu-disabled-color: var(--panel-disabled-color);
  --menu-border-color: var(--arrowpanel-border-color) !important;
}
.menu-right {fill-opacity: .6 !important}



/*   active same as hover   */
* {
  --toolbarbutton-active-background: var(--toolbarbutton-hover-background);
  --urlbar-box-active-bgcolor: var(--urlbar-box-hover-bgcolor);
  --panelview-toolbarbutton-active-bgcolor: var(--panelview-toolbarbutton-hover-bgcolor);
  --button-active-bgcolor: var(--button-hover-bgcolor);
  --panel-banner-item-active-bgcolor: var(--panel-banner-item-hover-bgcolor);
}



* {
  --menuitem-disabled-hover-background-color: none;
  --panel-separator-zap-gradient: none;
}



panel, menupopup {opacity: .98 !important}



/*   Default theme   */
#main-window[lwtheme-mozlightdark] * {
  --background:  #121215;
  --color:       #e8e8e9;
  --nav:         color-mix(in srgb, var(--background) 87%, transparent);
  --1:           color-mix(in srgb, var(--color) 4%, transparent);
  --2:           color-mix(in srgb, var(--color) 6%, transparent);
  --3:           color-mix(in srgb, var(--color) 10%, transparent);
  
  --lwt-accent-color: var(--nav);
  --toolbar-bgcolor: var(--nav);
  --lwt-toolbar-field-focus: var(--nav);
  
  --arrowpanel-background: var(--background);
  
  --urlbar-box-bgcolor: var(--1);
  --button-bgcolor: var(--1);
  --panel-banner-item-background-color: var(--1);
  --zoom-controls-bgcolor: var(--1);
  
  --arrowpanel-border-color: var(--2);
  --panel-separator-color: var(--2);
  --autocomplete-popup-separator-color: var(--2);
  --autocomplete-popup-hover-background: var(--2);
  --input-bgcolor: var(--2);
  --panelview-toolbarbutton-hover-bgcolor: var(--2);
  --button-hover-bgcolor: var(--2);
  --panel-banner-item-hover-bgcolor: var(--2);
  --urlbar-box-hover-bgcolor: var(--2);
  
  --toolbarbutton-hover-background: var(--3);
  --autocomplete-popup-highlight-background: var(--3);
  
  --toolbarbutton-icon-fill: var(--color);
  --toolbar-color: var(--color);
  --lwt-toolbar-field-color: var(--color);
  --lwt-toolbar-field-focus-color: var(--color);
  --arrowpanel-color: var(--color);
}

#main-window[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"]) * {
  --background:  #fcfcfd;
  --color:       #000005;
}


#main-window[lwtheme-mozlightdark] tooltip {
  -moz-appearance: none !important;
  background-color: var(--background) !important;
  border: 1px solid var(--3) !important;
  color: var(--color) !important}
