/*   Scrollbar   */
* {scrollbar-width: thin; 
   scrollbar-color: #5556 transparent !important}



/*   Newtab   */
@-moz-document url("about:home"), url("about:newtab") {
  body {
    background-image: url(bg.jpg), url(bg.png);
    background-size: cover}

  .icon.icon-settings {opacity: .5}

  .wallpaper-attribution {display: none}
}
