/*   Tabs   */
#TabsToolbar, #tabContextMenu, #toolbar-menubar {display:none}




/*   Navbar   */
#navigator-toolbox {
  background-color: var(--toolbar-bgcolor) !important;
  z-index: 4 !important;
  border: none !important}

#nav-bar {border: none !important}

                              [sizemode=maximized] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -39px; top: -39px}
@media(-moz-platform: linux) {[sizemode=maximized] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -35px; top: -35px}}
                                 [sizemode=normal] #nav-bar:not([customizing]):not(:has([tab-notification-box-0])) {margin-bottom: -31px; top: -31px}
                                 [sizemode=normal] #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #nav-bar-customization-target * {opacity: 0}
                                                   #nav-bar:not([customizing]):not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) {background-image: none;  background-color: black !important}

#nav-bar:is(:hover, :focus-within, :has(*[open]), :has(*[dragstart]), [customizing]) {
  box-shadow: 0 1px var(--chrome-content-separator-color), 0 2px 14px rgba(0, 0, 0, 0.13) !important;
  background: inherit;
  background-color: var(--toolbar-bgcolor) !important;
  top: auto !important}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-1 {height: 100%}
toolbar .toolbaritem-combined-buttons {padding: 0 !important; margin: 0 !important}

.subviewbutton:not(#appMenu-fxa-label2,.subviewbutton-back) {min-width: 36px}

#tab-notification-deck {z-index: -1}




/*   Sidebar   */
#sidebar-box:not([hidden]) {
  border-right: solid 1px var(--chrome-content-separator-color) !important;
  box-shadow: 2px 0 14px rgba(0, 0, 0, 0.13) !important;
  overflow: hidden;
  height: 100%;
  position: fixed;
  min-width: 0 !important;
  max-width: 0 !important;
  display: block;
  z-index: 3;
  opacity: 0}

[sizemode=normal] #sidebar-box {max-width: 4px !important}

@media(-moz-platform: windows) { [sizemode=normal] #sidebar-box {height: calc(100% - 10px)} }

#sidebar-box:not([hidden]):hover {
  width: 430px !important;
  max-width: 100% !important;
  opacity: 1}

#sidebar {
  width: 429px !important;
  height: 100%}

@media(-moz-platform: linux) { #appcontent {margin-left: -6px} }

#sidebar-header,
#sidebar-splitter {
  display: none}




/*   Bookmarks   */
#PersonalToolbar:not([customizing]),
#PlacesToolbarItems .bookmark-item[type="menu"] .toolbarbutton-icon,
#PlacesToolbarItems .bookmark-item[scheme="https"] .toolbarbutton-text,
.bookmarks-actions-menuseparator,
.openintabs-menuitem
  {display:none !important}

#PlacesToolbarItems menu.menu-iconic > menupopup {margin: -8px !important}

#PlacesToolbarItems toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding-inline: var(--toolbarbutton-outer-padding) !important;
  border-radius: 0 !important}

#PlacesToolbarItems toolbarbutton.bookmark-item:is(:hover, [open]) {background-color: transparent !important}

#PlacesToolbarItems > toolbarbutton.bookmark-item > label {
  padding: calc(var(--toolbarbutton-inner-padding) / 1.6) !important;
  border-radius: var(--toolbarbutton-border-radius)}

#PlacesToolbarItems > toolbarbutton.bookmark-item > .toolbarbutton-icon {
  padding: 8px;
  margin: 0 !important;
  border-radius: var(--urlbar-icon-border-radius);
  width: 32px !important;
  height: 32px !important}

#PlacesToolbarItems > toolbarbutton.bookmark-item:is(:hover, [open]) > :is(image, label) {background-color: color-mix(in srgb, currentColor 8%, transparent)}

#PlacesToolbarItems > toolbarbutton.bookmark-item[dragover] > label {color: SelectedItem}

#PlacesToolbarItems .toolbarbutton-text {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 1px !important}

toolbarbutton.bookmark-item menupopup:not(menupopup menupopup) {margin: -9px -3px !important}




/*   Menu   */
:not(#ContentSelectDropdown) > menupopup > :is(menuitem, menu) {padding-block: 6px !important}

#appMenu-new-tab-button2,
#appMenu-fullscreen-button2,
#appmenu-developer-tools
  {display:none !important}

#context-navigation:not([hidden]) {--menuitem-min-width: 53px !important}

* {
  --arrowpanel-border-radius: 5px;
  --arrowpanel-menuitem-margin: 0;
  --arrowpanel-menuitem-padding: 7px 13px !important;
  --panel-subview-body-padding: 3px 0;
  --panel-separator-margin-vertical: 1px !important;
  --menuitem-disabled-hover-background-color: none;
}

.panel-subview-footer-button {margin-bottom: 3px !important}

:is(menu, menuitem)[_moz-menuactive]:not([disabled="true"]):not([customoptionstyling]) {
  background-color: /*var(--panel-item-hover-bgcolor)*/ color-mix(in srgb, currentColor 6%, transparent) !important;
  color: inherit !important}

#context-navigation > .menuitem-iconic[_moz-menuactive] > .menu-iconic-left > .menu-iconic-icon,
menuitem[_moz-menuactive][disabled] {
  background-color: transparent !important}

menu,
menuitem,
.toolbarbutton-1,
.subviewbutton:not(#appMenu-fxa-label2, .subviewbutton-back, #appMenu-update-banner) {
  border-radius: 0 !important}

.addon-banner-item,
.panel-banner-item {
  margin: 2px 5px 3px !important;
  padding: 7px 7px 7px 8px !important}

.panel-header {padding: 4px !important}

#appMenu-fxa-status2[fxastatus] > #appMenu-fxa-label2 > vbox > #appMenu-header-description,
#appMenu-fxa-text,
#appMenu-proton-update-banner.panel-banner-item label.toolbarbutton-text {
  margin-top: -3px !important}

#appMenu-fxa-status2:not([fxastatus]) {padding-block: 6px 8px !important}

menupopup[needsgutter] menu:not([icon], .menu-iconic),
menupopup[needsgutter] menuitem:not([checked], [icon], .menuitem-iconic, [type="radio"]) {
  padding-inline-start: 1em !important}

#appMenu-popup panelview,
#PanelUI-fxa {
  width: 21.8em !important}

#contentAreaContextMenu,
menulist > menupopup
  {max-width: 27em !important}

#appMenu-popup {
  --panel-disabled-color: color-mix(in srgb, currentColor 35%, transparent);
  --panel-shortcut-color: color-mix(in srgb, currentColor 35%, transparent);
  --panel-separator-zap-gradient: none;
}

/*   Repaints the bookmark menu and context menus to the main menu color   */
#main-window :not(#ContentSelectDropdown) > menupopup:not(#context-navigation[hidden]),
#textbox-contextmenu {    
  --panel-background: var(--arrowpanel-background) !important;
  --panel-color: var(--arrowpanel-color) !important;
  --menu-color:  var(--arrowpanel-color) !important;
  --panel-border-color: var(--arrowpanel-border-color) !important;
  --panel-border-radius: 5px !important;
  --panel-padding: 3px 0 !important;
}

menupopup menuseparator {
  padding-block: 0 !important;
  padding-inline: 0em !important;
  margin: 1px .5em !important}

@media(-moz-platform: linux) {
  menuseparator {-moz-default-appearance: none !important}

  menuitem,
  menu {
    appearance: none !important;
    padding: 0 6px !important}
}

panel {
  transition-duration: 0ms !important;
  --panelui-subview-transition-duration: 0.1ms}


/*   Unified extensions menu   */
#unified-extensions-view .panel-header,
#unified-extensions-view toolbarseparator:first-of-type,
.unified-extensions-item-menu-button.subviewbutton,
.unified-extensions-item-message-deck
  {display:none !important} 

.unified-extensions-item-icon,
#unified-extensions-panel .unified-extensions-item .webextension-browser-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 16px !important;
  width: 16px !important}

.panel-subview-body {padding-top: 3px !important}

#unified-extensions-panel .unified-extensions-item {padding-block: 0 !important}




/*   Urlbar   */
#nav-bar:not([customizing]) #urlbar-container {
  padding-block: 0 !important;
  margin-inline: 12px !important}

#urlbar[breakout] {
  --urlbar-container-height: 40px;
  min-height: 40px !important}

#urlbar-background:not(#urlbar[breakout][breakout-extend][open] > #urlbar-background) {
  background-color: transparent !important;
  border: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important}

#notification-popup-box:is(:hover, [open]) {background-color: var(--toolbarbutton-hover-background) !important}

#identity-popup-security-button {margin-bottom: 0 !important}

#urlbar-label-box,
.urlbar-revert-button,
.urlbar-go-button,
.urlbarView-row[label="Firefox Suggest"]::before,
.urlbarView-row:not([type="switchtab"]) .urlbarView-action,
.urlbarView-title-,
.search-one-offs > hbox,
.urlbarView-title-separator
  {display:none !important}

.protections-popup-footer-button,
.protections-popup-category {
  border-radius: 0 !important}

.urlbarView-action {
  margin-block: -4px !important;
  padding: 6.25px 8px !important}

.urlbarView-row:not([dynamicType="quickactions"]) {margin-inline: 0 !important}

.urlbarView-url {padding-left: 5px}

.urlbarView-row[label="Firefox Suggest"] {margin-block-start: 0 !important}

.urlbarView-userContext {border-top: 2px solid var(--identity-tab-color) !important}

#identity-box,
#urlbar-label-box,
#page-action-buttons,
#urlbar-search-mode-indicator,
#tracking-protection-icon-container {
  margin: 2.5px 0}

#editBMPanel_folderMenuList {max-width: 260px}

#editBMPanel_folderTree * {background-color: var(--panel-background) !important}

richlistbox {background-color: transparent !important}




/*   Downloads   */
#nav-bar:not(:hover):not(:focus-within):not(:has(*[open])):not(:has(*[dragstart])) #downloads-button:is([progress="true"], [notification="finish"], [attention="warning"]) {
  position: relative;
  top: 39px}

#downloads-button:is([progress], [notification], [attention="warning"]):not(:hover):not([open]) :is(stack, .toolbarbutton-badge) {
  background-color: var(--toolbar-bgcolor) !important;
  border-radius: 30px !important}

#downloadsPanel-mainView {padding: 3px 0 0 0 !important}

.downloadMainArea {padding-inline-start: 10px !important}

#downloadsSummary > .downloadTypeIcon {margin-left: 10px}

#downloadsSummary {background: transparent !important}

#downloadsListBox > richlistitem {border-radius: 0 !important}

panel toolbarseparator {margin: 1px .5em !important}




/*   Toolbarbutton-badge   */
.toolbarbutton-badge {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  margin: -11px -8px 0 !important;
  text-align: right !important;
  font-size: 9px !important}

#PanelUI-menu-button > stack > label {margin: -9px -9px 0 !important}

.webextension-browser-action[attention] {background-size: 14px 4px !important}




/*   Dialog   */
.dialogBox {border-radius: 5px !important}

#window-modal-dialog {--chrome-offset: 20px !important}

.printDialogBox {--box-top-px: none !important}




/*   Statuspanel   */
#statuspanel-label {
  border: 0 !important;
  border-top-right-radius: 5px;
  background-color: #fffc !important;
  color: #000 !important}

#statuspanel[mirror] #statuspanel-label {
  border-radius: 5px 0 0}

@media (prefers-color-scheme:dark), (-moz-content-prefers-color-scheme:dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext] #statuspanel-label,
  #main-window:not([lwthemetextcolor="dark"]) #statuspanel-label {
    background-color: #000c !important;
    color: #bbb !important}
}



/*   Tooltip   */
@media (prefers-color-scheme:dark), (-moz-content-prefers-color-scheme:dark) {
  [lwthemetextcolor="dark"][lwt-popup-brighttext] tooltip,
  #main-window:not([lwthemetextcolor="dark"]) tooltip {
    background-color: #121215;
    border: 1px solid #333;
    color: #e8e8e9}
}




/*   Colors   */
* {
  scrollbar-width: thin; 
  scrollbar-color: #5556 transparent !important;

  
  --button-bgcolor: color-mix(in srgb, currentColor 6%, transparent) !important;
      --urlbar-box-bgcolor: var(--button-bgcolor);
      --urlbar-box-focus-bgcolor: var(--button-bgcolor);
      --button-background-color: var(--button-bgcolor);
      --panel-banner-item-background-color: var(--button-bgcolor);
  
  
  --button-hover-bgcolor: color-mix(in srgb, currentColor 9%, transparent) !important;
      --button-active-bgcolor: var(--button-hover-bgcolor) !important;
      --urlbar-box-hover-bgcolor: var(--button-hover-bgcolor);
      --urlbar-box-active-bgcolor: var(--button-hover-bgcolor);
      --urlbarView-hover-background: var(--button-hover-bgcolor);
      --urlbarView-highlight-background: var(--button-hover-bgcolor);
      --panel-banner-item-hover-bgcolor: var(--button-hover-bgcolor);
      --button-background-color-hover: var(--button-hover-bgcolor);
  
  
  --panel-item-hover-bgcolor: color-mix(in srgb, currentColor 6%, transparent) !important;
      --panel-item-active-bgcolor: var(--panel-item-hover-bgcolor) !important;
      --autocomplete-popup-hover-background: var(--panel-item-hover-bgcolor) !important;
      --menuitem-hover-background-color: var(--panel-item-hover-bgcolor) !important;
  
  
  --toolbarbutton-hover-background: color-mix(in srgb, currentColor 9%, transparent) !important;
      --toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;
  
  
  --panel-separator-color: color-mix(in srgb, currentColor 7%, transparent) !important;
      --menu-border-color: var(--panel-separator-color);
      --urlbarView-separator-color: var(--panel-separator-color);
  --autocomplete-popup-separator-color: color-mix(in srgb, currentColor 7%, transparent) !important;
  
  
  --input-bgcolor: transparent;
}



@media (prefers-color-scheme:dark) {
  
  
  * {
    --toolbar-color:                  hsl(252, 4%, 95%);  --toolbarbutton-icon-fill: currentColor;  --toolbar-field-focus-color: currentColor; 
                                                          --autocomplete-popup-highlight-color: currentColor;  --arrowpanel-color: var(--toolbar-color);
    --toolbar-bgcolor:                hsl(252, 4%, 6%);  --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor);
    --arrowpanel-background:          hsl(252, 4%, 9%);  --toolbar-field-focus-background-color: var(--arrowpanel-background); --info-bar-background-color: var(--arrowpanel-background) !important;
    --arrowpanel-border-color:        black !important;
    --chrome-content-separator-color: black !important;
    --lwt-brighttext-url-color:       #007893 !important;
    --autocomplete-popup-highlight-background: var(--button-hover-bgcolor) !important;
    --urlbar-popup-url-color:         hsl(225, 99%, 70%) !important;
    caret-color:                      #FF3641;
  }
  
  
  .titleIcon {background-color: transparent !important}

  :root[dialogroot], :host(dialog) {--in-content-page-background: hsl(252, 4%, 8%) !important}
  
  #tab-notification-deck,
  dialog {
    border: 1px solid black;
    --in-content-box-background: transparent !important;
    --in-content-button-background: hsl(252, 4%, 14%) !important;
    --in-content-button-background-hover: hsl(252, 4%, 20%) !important;
    --in-content-button-background-active: hsl(252, 4%, 20%) !important}
  
  window#bookmarkproperties menupopup#textbox-contextmenu.textbox-contextmenu {
    --panel-color: hsl(252, 4%, 95%);
    --panel-background: hsl(252, 4%, 9%) !important;
    --panel-border-color: black !important}
    
  ::selection {
    background-color: hsl(240, 38%, 18%) !important;
    color: hsl(240, 79%, 80%) !important}

  
  /*   Highlighting menu items with color   */
  menuitem:is([data-l10n-id="text-action-copy"], #context-copylink, #context-copy):not([disabled]) label.menu-text {color: hsl(235, 99%, 73%) !important}
  
  menuitem:is(#context-saveimage, #context-savevideo):not([disabled]) label.menu-text {color: #0C96AC !important}
  
}



/*   Yellow-red separators appMenu   */
#appMenu-fxa-separator                                                 {border-top: 1px solid #ffff00 !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(11) {border-top: 1px solid #fbc200 !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(17) {border-top: 1px solid #fc8800 !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(23) {border-top: 1px solid #ff4100 !important}
#appMenu-mainView > vbox:nth-child(1) > toolbarseparator:nth-child(28) {border-top: 1px solid #ff0100 !important}

@media (prefers-color-scheme:dark) {
  #appMenu-fxa-separator,
  #appMenu-mainView > vbox:nth-child(1) > toolbarseparator {
    opacity: .3}}

#appMenu-update-banner {background-color: hsl(110, 28%, 12%) !important} 
#appMenu-update-banner:hover {background-color: hsl(110, 28%, 15%) !important} 
